
html,
body {
    height: 100%;
    overflow-y: hidden;
}

body {
    padding-top: 0;
    width: 100%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.footer-wrapper {
    z-index: 999;
    /*! display: none; */
}

#wrap .container, #wrap .col-md-8, #wrap .row {
    width: 100%;
    height: 100%;
    padding: 0;
}

.row {
    margin: 0;
}

#wrap sup {
    font-size: 12px;
}

#wrap {
    padding-top: 50px;
    padding-bottom: 35px;
    height: 100%;
    margin-top: 0 !important;
}

.wrapper {
    position: absolute;
    top: 0;
    padding-top: 2px;
    left: 0;
    height: 100%;
    width: 100%;
}

.inner-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
}

.page-header {
    border-bottom: none;
    margin: 0 !important;
    padding: 20px 35px;
    color: #24619d;
    font-size: 17px;
    background: white;
}

.page-header h5 {
    width: 200px;
}

.form, .navigation {
    height: 100%;
    position: absolute;
}

.leaflet-control {
    display: none;
}

#overlay-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: 999;
}

.form {
    width: 100%;
    padding-left: 280px;
    font-size: 14px;
    background: #f8f8f8;
}

#form {
    height: 100%;
    position: relative;
}

#form input {
    padding: 6px;
}

#form input.error {
    border: 1px solid #ff5e5e !important;
}

.input-column {
    width: 100%;
}

.input-column td:first-child {
    width: 230px;
    padding-bottom: 10px !important;
}

.singlepage {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    overflow-y: scroll;
}

.page-section {
    border-top: 1px solid #ddd;
    padding-top: 8px;
    margin-bottom: 48px;
}

.page-section:first-of-type {
    border-top: none;
}

h2.section-title {
    font-size: 20px;
    color: #24619d;
    margin-bottom: 36px;
    background: #ececec;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 10px;
}

.subsection {
    margin-bottom: 36px;
    border-top: 1px solid #ddd;
}

.navigation {
    left: 0;
    width: 280px;
    top: 0;
}

.navigation img {
    height: 25px;
}


.navigation ul {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.inner-navigation {
    height: 100%;
    background: #24619d;
}

.navigation .sub-nav li {
    background: #1b5289;
}

.navigation li.nav {
    cursor: pointer;
}

.navigation a, .form-title span {
    padding: 18px 15px !important;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.navigation a {
    color: white;
    padding-left: 25px !important;
}

.navigation a i {
    color: red;
    display: none;
}

.navigation a.error i {
    display: inline-block;
}

.navigation li.nav a:hover {
    opacity: 0.6;
}

.navigation .nav a:hover, .navigation .nav a:focus {
    text-decoration: none;
}

.navigation .nav.active {
    border-left: 4px solid #F48020;
    background: #17497b;
}

.navigation .active a {
    padding-left: 21px !important;
    color: #F48020;
}

.navigation .icon-svg .active {
    display: none;
}

.navigation .active .icon-svg .active {
    display: block;
}

.navigation a:hover, .navigation a:focus {
    background: none !important;
}

.navigation .active a:hover {
    opacity: 1;
}

.icon-svg {
    position: relative;
    width: 21px;
    height: 16px;
    display: inline-block;
    margin-top: -6px;
    margin-right: 10px;

}

.icon-svg div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.icon-svg .active .st0 {
    fill: #F48020;
}

.form-title {
    color: #24619d;
    font-weight: 600;
    position: absolute;
    z-index: 1001;
    box-sizing: border-box;
    top: 21px;
    right: 29px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.abstract-nav::after {
    content: '▼';
    font-size: 12px;
}

.section {
    margin-bottom: 20px;
}

#form-submit {
    padding: 10px 30px;
    color: white;
    background: #F48020;
    border: none;
    text-decoration: none;
}

#form-submit:hover {
    background: #f29e59;
}

#form-submit:disabled {
    cursor: progress;
    opacity: 0.7;
}

.map-wrapper {
    position: relative;
    width: 50%;
}

#map-location {
    position: absolute;
    width: 100%;
    height: 350px;
}

h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

h4 {
    color: #0a66b7;
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 16px;
}

table {
    width: 100%;
}

table td {
    vertical-align: top;
    padding-bottom: 10px;
}

table tr td:first-child {
    padding-top: 5px;
}

.read-only .inputfile {
    display: none;
}

.read-only table td {
    padding-bottom: 0 !important;
}

.read-only .table-wrapper td {
    padding-bottom: 10px !important;
}

.read-only .input-data {
    padding-top: 5px !important;
}

.input {
    width: fit-content;
    position: relative;
}

#general_information_data {
    padding-top: 11px;
    min-height: 850px;
}

.photo-preview {
    max-width: 160px;
    background: #fff;
    padding: 5px;
    border: 1px solid #cac8c8;
    margin-bottom: 7px;;
}

.section {
    width: 49%;
    display: inline-block;
    vertical-align: top;
}

input, textarea {
    border: 1px solid #cac8c8 !important;
    padding: 6px;
    border-radius: 2px;
    box-sizing: border-box;;
}

select {
    border: 1px solid #cac8c8 !important;
    padding: 0 6px;
    height: 31px;
    line-height: 31px;
    border-radius: 2px;
    box-sizing: border-box;;
}

.input-data {
    min-height: 31px;
    display: inline-block;
    padding: 8px 0;
}

.read-only .many-to-many .input-data {
    min-height: 0;
    padding: 0;
}

.quantity-input .select2, .quantity-input .select-2 {
    margin-left: -6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.select2 {
    margin-top: -2px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #cac8c8 !important;
    border-radius: 2px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

input:disabled, textarea:disabled, select:disabled,
.select2-container--default.select2-container--disabled .select2-selection--single {
    border: 1px solid #ddd !important;
    background-color: rgba(239, 239, 239, 0.3) !important;
}


select, option, input[type="checkbox"] {
    cursor: pointer;
}

input[type="file"] {
    border: none !important;
    padding-left: 0;
}

.many-to-many tr th:first-child, .many-to-many tr td:first-child {
    display: none;
}

.many-to-many .chart {
    display: none;
    padding: 20px;
}

.many-to-many table, .many-to-many .chart {
    background: #fff;
    -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
}

.many-to-many tr:hover {
    background: #f7f9fb;
}

.many-to-many th {
    color: #24619d;
    font-size: 14px;
}

.many-to-many td, .many-to-many th {
    border: 1px solid #ebebeb;
    padding: 10px 10px;
}

.many-to-many .table-wrapper {
    width: 100%;
    max-height: 300px;
    overflow-x: auto;
    overflow-y: scroll;
}

.many-to-many label, .many-to-many .helptext {
    display: none;
}

.many-to-many tr.updated {
    background: rgba(67, 183, 0, 0.1);
}

.chart-table-toggle {
    color: white;
    border-radius: 2px;
    background: #aaa;
    margin-left: 5px;
    padding: 2px 4px;
    cursor: pointer;
}

.many-to-many .fa-arrows-alt {
    color: white;
    border-radius: 2px;
    background: #aaa;
    margin-left: 5px;
    padding: 2px 2px;
    cursor: pointer;
}

.chart-table-toggle:hover, .many-to-many .fa-arrows-alt:hover {
    opacity: 0.6;
}

.chart .loading {
    color: #888888;
}


/* this is for add many to many button */
.separator {
    height: 20px;
}

.fa-question-circle-o {
    cursor: pointer;
    opacity: 0.6;
}

/* tooltip of error */
.tooltip {
    position: fixed;
}

table td div.error {
    background: white;
    border: 1px solid #ff5e5e;
    border-radius: 3px;
    color: #ff5e5e;
    font-size: 14px;
    left: 100%;
    margin-left: 10px;
    padding: 5px;
    position: absolute;
    top: 0;
    width: fit-content;
    min-width: 200px;
    z-index: 99999;

    -webkit-box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 3px 2px 4px 0px rgba(0, 0, 0, 0.2);

    cursor: pointer;
}

table td div.error::after {
    border-width: 5px;
    border-style: solid;
    border-color: transparent #ff5e5e transparent transparent;
    content: " ";
    left: -10px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
}

.icon-svg.delete {
    cursor: pointer;
    background: #FE4359;
    width: 21px;
    height: 21px;
    padding: 5px;
}

.icon-svg.delete:hover {
    opacity: 0.3;
}

.icon-svg.delete {
    margin-top: 0;
}


/* CUSTOM INPUT FILE */
.inputfile {
    position: relative;
    width: 279px;
    height: 29px;
    border: 1px solid #cac8c8;
    border-radius: 2px;
    background-color: #fff;
}

.inputfile:hover {
    opacity: 0.7;
}

.inputfile input {
    opacity: 0;
    position: absolute;
    top: 0;
    cursor: pointer;
}

.inputfile label, .inputfile input {
    width: 100%;
    height: 29px;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    top: -1px;
    left: 1px;
}

.no-js .inputfile label {
    display: none;
}

.inputfile label {
    color: #24619d;
    padding: 0;
    position: absolute;
}

.inputfile:focus label,
.inputfile.has-focus label,
.inputfile label:hover {
    border-color: #24619d;
}

.inputfile label span,
.inputfile label strong {
    padding: 6px 12px;
    height: 100%;
    line-height: 17px;
}

.inputfile label span {
    width: 153px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: top;
}

.inputfile label strong {
    width: 119px;
    color: #fff;
    background-color: #24619d;
    display: inline-block;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.inputfile:focus label strong,
.inputfile.has-focus label strong,
.inputfile label:hover strong {
    background-color: #24619d;
}


/* if disabled */
.inputfile.disabled {
    border: none;
    background: none;
}

.inputfile.disabled:hover {
    opacity: 1;
}

.inputfile.disabled strong {
    display: none;
}

.inputfile.disabled label {
    color: inherit;
    width: auto;
    padding: 0;
    cursor: text;
    overflow: unset;
}

.inputfile.disabled span {
    width: auto;
    min-height: 31px;
    display: inline-block;
    padding: 8px 0;
    font-weight: 300;
}

.measurement-chart {
    max-width: 1000px;
}

.well-chart-row:before {
    display: table;
}

.well-chart-row {
    padding-top: 10px;
    min-height: 600px;
    padding-bottom: 25px;
}

.column-25 {
    width: 25%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}

.column-50 {
    width: 50%;
    float: left;
    padding: 15px;
}

.height-100 {
    height: 150px;
}

.well-table-container {
    height: 430px;
    overflow-y: auto;
    background-color: #ffffff;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    max-width: 750px;
}

.well-table-container tbody td:first-child {
    width: 100%;
}

.well-table-container .table-description {
    clear: both;
}

.title {
    color: #24619d;
    width: 50%;
}


.well-table-container tr td:first-child {
    display: block !important;
    border-bottom: 0;
}

.well-table-container td {
    border: 1px solid #ebebeb;
    padding: 10px 18px;
    color: #333333;
    font-size: 14px;
    line-height: 1.4;
}

.table-description {
    padding: 20px;
    line-height: 1.4;
    clear: both;
}

.well-info {
    line-height: 200px;
    height: 100%;
    position: relative;
}

.well-info p {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #24619d;
}

/* additional */
.quantity-input {
    display: inline-block;
    margin-right: 5px;
}

.quantity-input input {
    height: 31px !important;
}

input[name="stratigraphic_unit"] {
    max-width: 80px;
}

@media screen and (max-width: 1430px) {
    input[name="material"] {
        max-width: 80px;
    }

    select[name="parameter"] {
        max-width: 240px;
    }

    .map-wrapper {
        padding-left: 30px;
    }
}

/* update */
.select2-container .select2-selection--single {
    height: 31px !important;
}

.select2, .select-2 {
    height: 31px;
}

.select2-container {
    vertical-align: bottom !important;
}


.table-wrapper th {
    position: sticky;
    background: white;
    z-index: 999;
    top: -1px;
}


/* if full screen */
.many-to-many.fullscreen {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    background: white;
    padding: 20px;
}

.many-to-many.fullscreen .table-wrapper {
    max-height: 80%;
}

.additional-button-table {
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    color: #24619d;
    font-weight: bold;
}

.additional-button-table div {
    display: inline-block;
    margin-left: 20px;
}

.add-new-many-to-many:before, .add-new-many-to-many-csv:before {
    content: '+ ';
}

.input {
    width: 279px;
}

.input input, .input select, .input textarea {
    width: 100%;
}

input[type="checkbox"] {
    height: 20px;
    width: 20px;;
}

.quantity-input {
    width: 100%;
    position: relative;
}

.quantity-input input {
    width: 60%;
}

.quantity-input .select2,
.quantity-input select {
    width: 40% !important;
}

.read-only .table-wrapper .quantity-input {
    width: auto !important;
}

.table-wrapper .quantity-input {
    width: 180px;
}

.table-wrapper .quantity-input input {
    width: 40% !important;
}

.table-wrapper .quantity-input .select2,
.table-wrapper .quantity-input select {
    width: 60% !important;
}

/* select 2*/
#wrap select {
    -webkit-appearance: none;
    -moz-appearance: window;
    background-image: url("/static/img/drop.png");
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 30px;
    vertical-align: bottom;
}

.select2-selection:focus {
    outline: none;
}

.select2-search--dropdown {
    padding: 2px !important;
}

.select2-results__option {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 14px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: white;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 0;
    font-size: 14px !important;;
    padding: 3px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
}

/*** Update existing style ***/
.page-header {
    color: #fff;
    background: #24619d;
    border-bottom: 1px solid #17497b;
}


/*** Add new ***/
@media screen and (max-width: 1752px) {
    /** for the reference elevation tooltip to stay on the same line with the imput, we should wrap it
    in a span or div and give it min-width: 247px; **/
    .table-wrapper .quantity-input {
        width: 100px;
    }

    .table-wrapper .quantity-input input {
        width: 50% !important;
    }

    .table-wrapper .quantity-input .select2, .table-wrapper .quantity-input select {
        width: 50% !important;
    }
}

@media screen and (max-width: 1400px) {
    #branding {
        min-width: 45px;
        padding-left: 0;
    }

    .nav > li > a {
        font-size: 14px;
        padding: 10px 10px;
    }

    .navigation {
        width: 60px;
    }

    .navigation .page-header {
        display: none;
    }

    .navigation .nav span {
        display: none;
    }

    .navigation a {
        padding-left: 18px !important;
    }

    .navigation .active a {
        padding-left: 16px !important;
    }

    .form {
        padding-left: 60px;
    }

    .singlepage {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 1164px) {
    #form input, #form select, #form textarea {
        font-size: 12px;
    }

    .many-to-many td, .many-to-many th {
        padding: 7px 5px;
    }
}

.fa-info-circle {
    font-size: 20px;
    color: #222;
}

.tooltip-inner {
    white-space: pre-wrap;
    text-align: left;
}

.many-to-many iframe {
    width: 100%;
    height: 540px;
}