html, body, #measurement-chart {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

body {
    position: relative;
}

select {
    border: 1px solid #cac8c8 !important;
    padding: 0 6px;
    height: 31px;
    line-height: 31px;
    border-radius: 2px;
    box-sizing: border-box;

    -webkit-appearance: none;
    -moz-appearance: window;
    background-image: url("/static/img/drop.png");
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 30px;
    vertical-align: bottom;

    background: white;
    cursor: pointer;
}

#canvas {
    width: 100%;
}
