.measurement-chart-plugin {
    position: relative;
}

.measurement-chart-plugin .nav-right {
    width: auto;
    display: inline-block;
    float: right;
}

.measurement-chart-plugin .nav-right button {
    cursor: pointer;
    height: 31px;
}

.measurement-chart-plugin .nav-right button:disabled {
    opacity: 0.5;
}

/* TODO : delete this after the time range working fine*/
.nav-right .select2 {
    display: none;
}


.measurement-chart-plugin #loading {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.5);
    display: none;
    min-height: 400px;
}

.measurement-chart-plugin #loader-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 100px;
    width: 100px;
    margin-left: -50px;
    margin-top: -50px;
}

.measurement-chart-plugin .loader {
    color: #555;
    font-size: 90px;
    text-indent: -9999em;
    overflow: hidden;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}

@-webkit-keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@keyframes load6 {
    0% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
        box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
        box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
}

@-webkit-keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes round {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* TRENDLINE */
.measurement-chart-plugin-trendline {
    font-size: 14px;
    font-family: nimbus-sans, sans-serif;
    border: 1px solid #ddd;
}

.measurement-chart-plugin-trendline .result {
    color: #28619D;
    border-top: 1px solid #ddd;
    padding: 6px 10px;
}

.measurement-chart-plugin-trendline .step-title {
    display: inline-block;
    width: 90px;
    height: 26px;
    margin-top: 7px;
}

.measurement-chart-plugin-trendline .step-title .step-title-input {
    position: relative;
}

.measurement-chart-plugin-trendline .step-title .step-title-input input {
    cursor: pointer;
    color: rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
    border: none !important;
    height: 15px;
    left: -1px;
    padding: 0 !important;
    position: absolute;
    width: 14px;
}

.measurement-chart-plugin-trendline .step-title .step-title-input input:hover {
    background: rgba(255, 255, 255, 0.5);
}

.measurement-chart-plugin-trendline .step-title .step-title-input input:focus {
    outline: none;
}

.measurement-chart-plugin-trendline .step-title .fa-plus-square {
    color: green;
    cursor: pointer;
}

.measurement-chart-plugin-trendline .step-title .fa-plus-square:hover {
    opacity: 0.5;
}

.measurement-chart-plugin-trendline .steps-list {
    width: 95%;
    flex-grow: 1;
    display: inline-block;
    white-space: nowrap;
    overflow-x: auto;
}

.measurement-chart-plugin-trendline .steps-list .step-data {
    display: inline-block;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.measurement-chart-plugin-trendline .steps-list .step-data i {
    margin-left: 5px;
    color: red;
    cursor: pointer;
}

.measurement-chart-plugin-trendline .steps-list .step-data i:hover {
    opacity: 0.5;
}

.measurement-chart-plugin-trendline .steps-list .step-data input {
    border: none !important;
    cursor: pointer;
    width: 125px;
}

.measurement-chart-plugin-trendline .steps-list .step-data input:focus {
    outline: none;
}

/* SCROLL */
.measurement-chart-plugin-trendline .steps-list::-webkit-scrollbar {
    height: 5px;
}

.measurement-chart-plugin-trendline .steps-list::-webkit-scrollbar-thumb {
    background: #ccc;
}

.measurement-chart-plugin-trendline .steps-list::-webkit-scrollbar-track {
    background: #eee;
}

.measurement-chart-plugin-trendline .steps-list::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* FOR THE SELECT */
.measurement-chart-plugin .select2 {
    min-width: 150px;
    margin-top: 1px !important;
}

.quantity-input .select2, .quantity-input .select-2 {
    margin-left: -6px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.select2 {
    margin-top: -2px !important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #cac8c8 !important;
    border-radius: 2px !important;
}

.select2-container .select2-selection--single {
    height: 30px !important;
}

input:disabled, textarea:disabled, select:disabled,
.select2-container--default.select2-container--disabled .select2-selection--single {
    border: 1px solid #ddd !important;
    background-color: rgba(239, 239, 239, 0.3) !important;
}

#wrap select {
    -webkit-appearance: none;
    -moz-appearance: window;
    background-image: url("/static/img/drop.png");
    background-repeat: no-repeat;
    background-position: right 5px center;
    padding-right: 30px;
    vertical-align: bottom;
}

.select2-selection:focus {
    outline: none;
}

.select2-search--dropdown {
    padding: 2px !important;
}

.select2-results__option {
    padding-top: 4px !important;
    padding-bottom: 4px !important;
    font-size: 14px;
}

.select2-container--default .select2-results__option[aria-selected=true] {
    background-color: white;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #5897fb;
    color: #fff;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border-radius: 0;
    font-size: 14px !important;;
    padding: 3px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field:focus {
    outline: none;
}

.Error {
    text-align: center;
    color: red;
    padding: 3rem;
}

.select2-results__option--group {
    color: #24619d;
    font-weight: 600;
}