{% load staticfiles %}
{% if preview or file_type == 'image' %}
    <div id="{{ widget.attrs.id }}-preview">
        <a {% if url %}
            href="{{ url }}"
        {% endif %}
            target="_blank">
            <img class="photo-preview" data-no-image="{% static 'img/no-image.jpg' %}" src="
        {% if not url %}
            {% static 'img/no-image.jpg' %}
        {% else %}
            {{ url }}
        {% endif %}
        " alt="photo">
        </a>
    </div>
    <script>
        $(document).ready(function () {
            $("#{{ widget.attrs.id }}-file #id_photo").change(function () {
                $(this).data('value', null)
                $('#{{ widget.attrs.id }}-preview .photo-preview').attr('src', $('#{{ widget.attrs.id }}-preview .photo-preview').data('no-image'))
                if (checkFileIsAccepted(this)) {
                    readURL(this, $('#{{ widget.attrs.id }}-preview .photo-preview'));
                }
                formValidator.element("#{{ widget.attrs.id }}-file #id_photo");
            });

            $("#{{ widget.attrs.id }}-file #id_photo").click(function () {
                $("#{{ widget.attrs.id }}-file #id_photo").trigger('change')
            })
        });
    </script>
{% endif %}

{% if read_only and value %}
    <input type="text" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} hidden>
    <a href="{{ url }}" target="_blank" download>{{ value }}</a>
{% else %}
    <div class="inputfile" id="{{ widget.attrs.id }}-file">
        <label for="file">
            <span>{% if value != None %} {{ value }}{% endif %}</span>
            <strong>Choose a file</strong>
        </label>
        <input
                type="file"
                name="{{ widget.name }}"
                id="{{ widget.attrs.id }}"
                onchange="fileSelectionChanged(this)"
                data-value="{{ url }}"
                {% include "django/forms/widgets/attrs.html" %}
        >
    </div>
{% endif %}