{% load staticfiles %}
{% if read_only and value %}
    <input type="text" name="{{ widget.name }}"{% if value != None %} value=""{% endif %} {% include "django/forms/widgets/attrs.html" %} hidden>
    {{ value }}
{% else %}
    {% if preview %}
        <img class="photo-preview" src="
        {% if not url %}
            {% static 'img/no-image.jpg' %}
        {% else %}
            {{ url }}
        {% endif %}
        " alt="photo">
    {% endif %}
    <div style="position: relative" class="inputfile">
        <label for="file">
            <span>{% if value != None %} {{ value }}{% endif %}</span>
            <strong>Choose a file</strong>
        </label>
        <input
                type="file"
                name="{{ widget.name }}"
                id="{{ widget.attrs.id }}"
                onchange="fileSelectionChanged(this)"
                {% include "django/forms/widgets/attrs.html" %}
        >
    </div>
{% endif %}