{% load staticfiles %}
{% if preview or file_type == 'image' %}
    <div>
        <a {% if url %}
            href="{{ url }}"
        {% endif %}
            target="_blank">
            <img class="photo-preview" src="
        {% if not url %}
            {% static 'img/no-image.jpg' %}
        {% else %}
            {{ url }}
        {% endif %}
        " alt="photo">
        </a>
    </div>
{% endif %}

{% if read_only %}
    {% if value %}
        <input type="text" name="{{ widget.name }}" {% include "django/forms/widgets/attrs.html" %} hidden>
        <a href="{{ url }}" target="_blank" download>{{ value }}</a>
    {% else %}
        <div style="position: relative" class="inputfile">
            <label for="file">
                <span>{% if value != None %} {{ value }}{% endif %}</span>
                <strong>Choose a file</strong>
            </label>
            <input
                    type="file"
                    name="{{ widget.name }}"
                    id="{{ widget.attrs.id }}"
                    onchange="fileSelectionChanged(this)"
                    {% include "django/forms/widgets/attrs.html" %}
            >
        </div>
    {% endif %}
{% else %}
    <div style="position: relative" class="inputfile">
        <label for="file">
            <span>{% if value != None %} {{ value }}{% endif %}</span>
            <strong>Choose a file</strong>
        </label>
        <input
                type="file"
                name="{{ widget.name }}"
                id="{{ widget.attrs.id }}"
                onchange="fileSelectionChanged(this)"
                {% include "django/forms/widgets/attrs.html" %}
        >
    </div>
{% endif %}