{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_list %}

{% block object-tools %}
    <ul class="grp-object-tools">
        <li>
            <form action="{% url 'generate-quality-control' %}"
                  method="post" novalidate>
                {% csrf_token %}
                <a class="grp-add-link grp-state-focus">
                    <input
                            type="submit"
                            value="Generate missing ones"
                            class="grp-button grp-default"
                            style="background: none; border: none; padding: 0; text-decoration: none; cursor: pointer; box-shadow:none; height: unset; vertical-align: unset;"
                    />
                </a>
            </form>
        </li>
        {% block object-tools-items %}
            {% if has_add_permission %}
                {% url cl.opts|admin_urlname:'add' as add_url %}
                <li>
                    <a href="{% add_preserved_filters add_url is_popup to_field %}"
                       class="grp-add-link grp-state-focus">
                        {% blocktrans with cl.opts.verbose_name as name %}Add
                            {{ name }}{% endblocktrans %}</a></li>
            {% endif %}
        {% endblock %}
    </ul>
{% endblock %}