{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    Stations Dashboard
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'gwml2/css/well_dashboard.css' %}">
    <link rel="stylesheet"
          href="{% static 'js/select2/4.1.0-rc.0/select2.min.css' %}">
    <script src="{% static 'js/jquery/3.5.1/jquery.min.js' %}"></script>
    <script src="{% static 'js/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <script src="{% static 'js/highcharts/9.1.2/stock/highstock.js' %}"></script>
    <script src="{% static 'js/highcharts/9.1.2/highcharts-more.js' %}"></script>
    <script src="{% static 'gwml2/js/well_dashboard_utils.js' %}"></script>
    <script src="{% static 'gwml2/js/well_dashboard.js' %}"></script>
{% endblock %}

{% block body_outer %}
    <div id="dashboard">
        <div class="dashboard-side-panel">
            <div id="dashboard-data-type" class="dashboard-data-type">
                <button type="button"
                        class="dashboard-toggle active"
                        data-type="ggmn"
                        title="Click to activate/deactivate GGMN data">
                    GGMN
                </button>
                <button type="button"
                        class="dashboard-toggle active"
                        data-type="well_monitoring"
                        title="Click to activate/deactivate Well and Monitoring Data">
                    Well and Monitoring Data
                </button>
            </div>

            <div id="countries-data">
            </div>
        </div>
        <div class="dashboard-content">
            <div class="dashboard-card">
                <h1>General</h1>

                <div id="dashboard-loading" class="throbber-wrap">
                    <div class="throbber"></div>
                    <span>Loading statistics&hellip;</span>
                </div>

                <div id="dashboard-error" class="dashboard-error hidden">
                    Unable to load statistics. Please try again later.
                </div>

                <table id="dashboard-table" class="stats-table hidden">
                    <tr>
                        <td class="stat-label">Number of countries</td>
                        <td class="stat-value" data-stat="count_country">-
                        </td>
                    </tr>
                    <tr>
                        <td class="stat-label">Number of organisations</td>
                        <td class="stat-value" data-stat="count_organisation">-
                        </td>
                    </tr>
                    <tr>
                        <td class="stat-label">Number of water wells</td>
                        <td class="stat-value" data-stat="count_well">-</td>
                    </tr>
                    <tr class="sub-row">
                        <td class="stat-label">Number of wells with GWL data
                        </td>
                        <td class="stat-value"
                            data-stat="count_well_with_level">-
                        </td>
                    </tr>
                    <tr class="sub-row">
                        <td class="stat-label">Number of wells with GWQ data
                        </td>
                        <td class="stat-value"
                            data-stat="count_well_with_quality">-
                        </td>
                    </tr>
                    <tr>
                        <td class="stat-label">Number of springs</td>
                        <td class="stat-value" data-stat="count_spring">-</td>
                    </tr>
                    <tr>
                        <td class="stat-label">
                            Number of groundwater level measurements
                        </td>
                        <td class="stat-value"
                            data-stat="count_measurement_level">-
                        </td>
                    </tr>
                    <tr>
                        <td class="stat-label">
                            Number of groundwater quality measurements
                        </td>
                        <td class="stat-value"
                            data-stat="count_measurement_quality">-
                        </td>
                    </tr>
                    <tr>
                        <td class="stat-label">
                            Number of countries updated in the last 2 years
                        </td>
                        <td class="stat-value"
                            data-stat="count_country_recently_updated">-
                        </td>
                    </tr>
                    <tr>
                        <td class="stat-label">Number of automatic
                            connections
                        </td>
                        <td class="stat-value"
                            data-stat="count_automatic_connection">-
                        </td>
                    </tr>
                </table>
            </div>
            <div class="dashboard-card">
                <h1>Length of Time Series</h1>

                <div id="dashboard-length-of-time-series-loading"
                     class="throbber-wrap">
                    <div class="throbber"></div>
                    <span>Loading statistics&hellip;</span>
                </div>

                <div id="dashboard-length-of-time-series-empty"
                     class="dashboard-empty hidden">
                    Data does not exist.
                </div>

                <div id="dashboard-length-of-time-series"></div>
            </div>
            <div class="dashboard-card">
                <h1>Number of stations</h1>
                <div id="dashboard-number-stations-type"
                     class="dashboard-number-stations">
                    <button id="dashboard-number-stations-1"
                            type="button"
                            class="dashboard-toggle active">
                        &lt; 100
                    </button>
                    <button id="dashboard-number-stations-2"
                            type="button"
                            class="dashboard-toggle">
                        100 - 1,000 stations
                    </button>
                    <button id="dashboard-number-stations-3"
                            type="button"
                            class="dashboard-toggle">
                        1,000 - 10,000 stations
                    </button>
                    <button id="dashboard-number-stations-4"
                            type="button"
                            class="dashboard-toggle">
                        &gt; 10,000 stations
                    </button>
                </div>

                <div id="dashboard-number-of-stations-loading"
                     class="throbber-wrap">
                    <div class="throbber"></div>
                    <span>Loading statistics&hellip;</span>
                </div>

                <div id="dashboard-number-of-stations-empty"
                     class="dashboard-empty hidden">
                    Data does not exist.
                </div>

                <div id="dashboard-number-of-stations"></div>
            </div>
        </div>
    </div>
    <script>
      initWellDashboard(
        '{% url "organisation_statistic_general" %}',
        '{% url "countries_statistic_general" %}'
      );
    </script>
{% endblock %}