{% load gwml2_forms %}
<div id="drilling-and-construction" class="page-section">
    <h2 class="section-title">Drilling and construction</h2>
    <div id="geology" class="section">
        <table>
            {% field_as_row geology.total_depth %}
        </table>
    </div>
    <div id="drilling" class="subsection" style="border-top: 1px solid #ddd; padding-top: 30px">
        <h3>
            Drilling
        </h3>
        <div id="drilling-data" class="section drilling">
            <table>
                {% field_as_row drilling.drilling_method %}
                {% field_as_row drilling.driller %}
                {% field_as_row drilling.successful %}
                {% field_as_row drilling.cause_of_failure id='failed-explanation' %}
                {% field_as_row drilling.year_of_drilling %}
            </table>
        </div>

        <br><br>
        {% include "groundwater_form/_many-to-many.html" with id='water_strike' title='Water Strike' theform=water_strike thedata=water_strikes help_text='' delete='yes'%}
        {% include "charts/well_chart.html" %}
        {% include "groundwater_form/_many-to-many.html" with id='stratigraphic_log' title='Stratigraphic Log' theform=stratigraphic_log thedata=stratigraphic_logs help_text='' delete='yes'%}
    </div>
    <div id="construction" class="subsection" style="border-top: 1px solid #ddd; margin-top: 50px; padding-top: 30px">
        <h3>
            Construction
        </h3>
        <div id="construction-data" class="section">
            <h4>Pump (For Production well)</h4>
            <table>
                {% field_as_row construction.pump_installer %}
                {% field_as_row construction.pump_description %}
            </table>
        </div>
        {% include "groundwater_form/_many-to-many.html" with id='casing' title='Casing' theform=casing thedata=casings help_text='' delete='yes'%}
        <br>
        {% include "groundwater_form/_many-to-many.html" with id='screen' title='Screen' theform=screen thedata=screens help_text='' delete='yes'%}
    </div>
</div>
<script>
    submitFunctions['geology'] = function () {
        let data = {}
        $('#geology').find('input,textarea,select').each(
            function () {
                const key = $(this).attr('name');
                let value = $(this).val()
                if ($(this).attr('type') === 'checkbox') {
                    value = $(this).is(":checked")
                }
                data[key] = value
            });
        return data;
    }
</script>
<script>
    let $successful = $($('#id_successful').find('option')[0]);
    $successful.val('');
    $successful.html('-------');

    $('#id_successful').change(function () {
        $('#failed-explanation').val('')
        $('#failed-explanation').hide();
        if ($('#id_successful').val() === 'false') {
            $('#failed-explanation').show();
        }
    })
    $('#id_successful').trigger('change')
    submitFunctions['drilling'] = function () {
        let data = {
            water_strike: submitFunctionsManyToMany['water_strike'](),
            stratigraphic_log: submitFunctionsManyToMany['stratigraphic_log'](),
            reference_elevation: {}
        }
        $('#drilling-data').find('input,textarea,select').each(
            function () {
                const key = $(this).attr('name');
                let value = $(this).val()
                if ($(this).attr('type') === 'checkbox') {
                    value = $(this).is(":checked")
                }
                data[key] = value
            });
        {% for field in drilling_elevation %}
            data['reference_elevation']['{{ field.name }}'] = $('#drilling #{{ field.id_for_label }}').val();
            data['reference_elevation']['{{ field.name }}_id'] = $('#drilling #{{ field.id_for_label }}_id').val();
            data['reference_elevation']['{{ field.name }}_value'] = $('#drilling #{{ field.id_for_label }}_value').val();
            data['reference_elevation']['{{ field.name }}_unit'] = $('#drilling #{{ field.id_for_label }}_unit').val();
        {% endfor %}
        return data;
    }
</script>
<script>
    submitFunctions['construction'] = function () {
        let data = {
            casing: submitFunctionsManyToMany['casing'](),
            screen: submitFunctionsManyToMany['screen'](),
            reference_elevation: {}
        }
        $('#construction-data').find('input,textarea,select').each(
            function () {
                const key = $(this).attr('name');
                let value = $(this).val()
                if ($(this).attr('type') === 'checkbox') {
                    value = $(this).is(":checked")
                }
                data[key] = value
            });
        {% for field in drilling_elevation %}
            data['reference_elevation']['{{ field.name }}'] = $('#construction #{{ field.id_for_label }}').val();
            data['reference_elevation']['{{ field.name }}_id'] = $('#construction #{{ field.id_for_label }}_id').val();
            data['reference_elevation']['{{ field.name }}_value'] = $('#construction #{{ field.id_for_label }}_value').val();
            data['reference_elevation']['{{ field.name }}_unit'] = $('#construction #{{ field.id_for_label }}_unit').val();
        {% endfor %}
        return data;
    }
</script>