{% load gwml2_forms %}
<div id="drilling_and_construction" class="tab-pane">
    <div class="section">
        <table>
            {% field_as_row form.drilling_method %}
            {% field_as_row form.driller %}
            {% field_as_row form.successful %}
        </table>
    </div>
    <br><br>
    {% include "groundwater_form/_many-to-many.html" with id='casing' title='Casing' theform=casing thedata=casings %}
    <br>
    {% include "groundwater_form/_many-to-many.html" with id='screen' title='Screen' theform=screen thedata=screens %}
    <br>
    {% include "groundwater_form/_many-to-many.html" with id='water_strike' title='Water Strike' theform=water_strike thedata=water_strikes %}
    <div class="section">
        <h4>Pump (For Production well)</h4>
        <table>
            {% field_as_row form.pump_installer %}
            {% field_as_row form.pump_description %}
        </table>
    </div>
</div>
<script>
    let $successful = $($('#id_successful').find('option')[0]);
    $successful.val('');
    $successful.html('-------');
    submitFunctions['drilling_and_construction'] = function () {
        let data = {
            casing: submitFunctionsManyToMany['casing'](),
            screen: submitFunctionsManyToMany['screen'](),
            water_strike: submitFunctionsManyToMany['water_strike'](),
        }
        $('#drilling_and_construction .section').find('input,textarea,select').each(
            function () {
                const key = $(this).attr('name');
                let value = $(this).val()
                if ($(this).attr('type') === 'checkbox') {
                    value = $(this).is(":checked")
                }
                data[key] = value
            });
        return data;
    }
</script>