{% load gwml2_forms %}
<div id="general_information" class="tab-pane fade in active">
    <div class="section">
        <table>
            <tr>
                <td><h4>Identification</h4></td>
            </tr>
            {% field_as_row form.id %}
            {% field_as_row form.water_point_reference %}
            {% field_as_row form.water_point_type %}
            <tr>
                <td><h4>Location Information</h4></td>
            </tr>
            {% field_as_row form.latitude '°' %}
            {% field_as_row form.longitude '°' %}
            {% field_as_row form.elevation 'm.o.a.d.' %}
            {% field_as_row form.country %}
            {% field_as_row form.address %}
        </table>
    </div>
    <div class="section">
        <table>
            <tr>
                <td><h4>Summary Information</h4></td>
            </tr>
            <tr>
                <td>{{ form.picture.label }}</td>
                <td>{{ form.picture }}</td>
            </tr>
            <tr>
                <td>{{ form.description.label }}</td>
                <td>{{ form.description }}</td>
            </tr>
        </table>
    </div>
    <div id="documents" class="many-to-many">
        <h4>Documents</h4>
        <table>
            <tr>
                <th>{{ document.file.label }}</th>
                <th>{{ document.document_type.label }}</th>
                <th>{{ document.description.label }}</th>
                <th>{{ document.file_type.label }}</th>
                <th>{{ document.file_size.label }}</th>
            </tr>
        </table>
        <template>
            <tr>
                <td>{{ document.file }}</td>
                <td>{{ document.document_type }}</td>
                <td>{{ document.description }}</td>
                <td>{{ document.file_type }}</td>
                <td>{{ document.file_size }}</td>
            </tr>
        </template>
        <div class="add-new-many-to-many">add new</div>
    </div>
</div>
<script>
    submitFunctions['general_information'] = function () {
        let data = {
            id: $('#general_information #id_id').val(),
            water_point_reference: $('#general_information #id_water_point_reference').val(),
            water_point_type: $('#general_information #id_water_point_type').val(),
            latitude_type: $('#general_information #id_latitude').val(),
            longitude_type: $('#general_information #id_longitude').val(),
            elevation_type: $('#general_information #id_elevation').val(),
            country_type: $('#general_information #id_country').val(),
            address_type: $('#general_information #id_address').val(),
            description: $('#general_information #id_description').val(),
            documents: []
        };
        let picture = $('#general_information #id_file').get(0).files[0]
        if (picture) {
            data['picture'] = picture.name
        }


        $('#documents tr').each(function (index) {
            let values = $(this).find('td');
            if (values.length === 0) {
                return
            }
            let file = $(values[0]).find('input').get(0).files[0]
            if (file) {
                data['documents'].push({
                    file: file.name,
                    description: $(values[2]).find('input').val(),
                })
            }
        });
        return data
    }
</script>