{% load gwml2_forms %}
<div id="geology" class="tab-pane">
    <div class="section">
        <table>
            {% field_as_row form.depth %}
        </table>
    </div>

    {% include "groundwater_form/_many-to-many.html" with id='geology_log' title='Geology Log' theform=geology_log thedata=geology_logs %}
</div>
<script>
    submitFunctions['geology'] = function () {
        let data = {
            total_depth: $('#geology #id_depth').val(),
            geology_log: submitFunctionsManyToMany['geology_log']()
        };
        return data;
    }
</script>