{% load gwml2_forms %}
{% load i18n %}
<div id="level-measurement" class="page-section">
    <h2 class="section-title">{% trans "Groundwater Level" %}</h2>
    <table style="width: 100%; margin-bottom: 1rem; margin-top: -1rem">
        {% field_as_row general_information.data_quality %}
    </table>
    {% include "groundwater_form/_many-to-many.html" with id='level_measurement' title='Measurement' theform=level_measurement help_text='' use_chart=True delete='yes' csv_add_new='yes' is_chart_by_default=is_editing %}
</div>
<script>
  submitFunctions['level_measurement'] = function () {
    let data = submitFunctionsManyToMany['level_measurement']();
    return data
  }
</script>