{% load gwml2_forms %}
<div id="level-measurement" class="page-section">
    <h2 class="section-title">Level measurement</h2>
    {% include "groundwater_form/_many-to-many.html" with id='level_measurement' title='Measurement' theform=level_measurement help_text='' use_chart=True delete='yes' csv_add_new='yes' %}
</div>
<script>
    submitFunctions['level_measurement'] = function () {
        let data = {
            measurements: submitFunctionsManyToMany['level_measurement']()
        };
        return data
    }
</script>