{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
    <h1>Well form.</h1>
{% endblock page_title %}

{% block extra_head %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        let submitFunctions = {};
        let submitFunctionsManyToMany = {};
    </script>
    {# the css for form #}
    <style>
        {% include "groundwater_form/main.css" %}
    </style>
{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="inner-wrapper">
            <div class="page-header">
                <h5>Groundwater Point Form</h5>
            </div>
            <div class="form">
                <form method="POST" id="form" enctype="multipart/form-data">
                    <div class="form-title">
                        <span>General Information</span>
                        <button id="form-submit" class="pull-right" type="submit">submit</button>
                    </div>
                    {% csrf_token %}
                    <div class="tab-content">
                        {# GENERAL INFORMATION #}
                        {% include "groundwater_form/general_information.html" with form=general_information %}
                        {# DRILLING AND CONSTRUCTION #}
                        {% include "groundwater_form/drilling.html" %}
                        {% include "groundwater_form/construction.html" %}
                        {# HYDROGEOLOGY #}
                        {% include "groundwater_form/hydrogeology.html" with form=hydrogeology %}
                        {# MANAGEMENT #}
                        {% include "groundwater_form/management.html" with form=management %}
                        {# MONITORING DATA #}
                        {% include "groundwater_form/level_measurement.html" %}
                        {% include "groundwater_form/quality_measurement.html" %}
                        {% include "groundwater_form/yield_measurement.html" %}
                    </div>
                </form>
            </div>
            <div class="navigation">
                <div class="inner-navigation">
                    <ul class="nav">
                        <li class="nav active">
                            <a data-toggle="tab" href="#general_information">
                                General Information <i class="fa fa-exclamation" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                Drilling and Construction <span class="abstract-nav"></span>
                            </a>
                            <ul class="nav sub-nav">
                                <li class="nav">
                                    <a data-toggle="tab" href="#drilling">
                                        Drilling <i class="fa fa-exclamation" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav">
                                    <a data-toggle="tab" href="#construction">
                                        Construction <i class="fa fa-exclamation" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav">
                            <a data-toggle="tab" href="#hydrogeology">
                                Hydrogeology <i class="fa fa-exclamation" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav">
                            <a data-toggle="tab" href="#management">
                                Management <i class="fa fa-exclamation" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li>
                            <a>
                                Monitoring Data <span class="abstract-nav"></span>
                            </a>
                            <ul class="nav sub-nav">
                                <li class="nav">
                                    <a data-toggle="tab" href="#level-measurement">
                                        Groundwater level <i class="fa fa-exclamation" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav">
                                    <a data-toggle="tab" href="#quality-measurement">
                                        Groundwater quality <i class="fa fa-exclamation" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="nav">
                                    <a data-toggle="tab" href="#yield-measurement">
                                        Yield / abstraction <i class="fa fa-exclamation" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.add-new-many-to-many').click(function () {
            let $table = $(this).closest('.many-to-many').find('table');
            let template = $(this).closest('.many-to-many').find('template')[0];
            $table.append(template.content.cloneNode(true));
        })
        $('li.nav').click(function () {
            $('.nav li').removeClass('active')
            $('.form-title span').html($(this).text())
        })

        $('#form').validate({
            errorElement: 'div',
            invalidHandler: function (event, validator) {
                $('.navigation a').removeClass('error')
                if (validator.invalid) {
                    {# we check the error message show on form and show red exclamation on tab #}
                    setTimeout(function () {
                        $('div.error:visible').each(function () {
                            $("a[href$='#" + $(this).closest('.tab-pane').attr('id') + "']").addClass('error')
                        })
                    }, 100);
                }
            },
            submitHandler: function (form, event) {
                $('.navigation a').removeClass('error')
                event.preventDefault();
                let data = {}
                $.each(submitFunctions, function (form, value) {
                    data[form] = value();
                });
                var formData = new FormData();
                $('input[type="file"]').each(function () {
                    let file = $(this).get(0).files[0];
                    if (file) {
                        formData.append(file.name, file);
                    }
                });
                formData.append('data', JSON.stringify(data));
                $.ajax({
                    url: window.location,
                    type: "POST",
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function (xhr, settings) {
                        if (!/^(GET|HEAD|OPTIONS|TRACE)$/.test(settings.type) && !this.crossDomain) {
                            xhr.setRequestHeader("X-CSRFToken", $(this).find('*[name=csrfmiddlewaretoken]').val());
                        }
                    },
                    success: function (data) {
                        location.reload();
                    },
                    error: function (error) {
                        alert(error['responseText'])
                    },
                    data: formData
                });
            }
        });
    </script>
{% endblock %}
