{% load gwml2_forms %}
<div id="monitoring_data" class="tab-pane">
    {% include "groundwater_form/_many-to-many.html" with id='measurement' title='Measurement' theform=measurement thedata=measurements %}
</div>
<script>
    submitFunctions['monitoring_data'] = function () {
        let data = {
            measurement: submitFunctionsManyToMany['measurement']()
        };
        {% for field in reference_elevation %}
            data['reference_elevation']['{{ field.name }}'] = $('#monitoring_data #{{ field.id_for_label }}').val()
        {% endfor %}
        return data;
    }
</script>