{% load gwml2_forms %}
<div id="monitoring_data" class="tab-pane">
    <div class="section">
        <table>
            <tr>
                <td><h4>Reference Elevation</h4></td>
            </tr>
            {% field_as_row reference_elevation.value %}
            {% field_as_row reference_elevation.unit %}
            {% field_as_row reference_elevation.description %}
        </table>
    </div>
    {% include "groundwater_form/_many-to-many.html" with id='measurement' title='Measurement' theform=measurement %}
</div>
<script>
    submitFunctions['monitoring_data'] = function () {
        let data = {
            reference_elevation: {},
            measurement: submitFunctionsManyToMany['measurement']()
        };
        {% for field in reference_elevation %}
            data['reference_elevation']['{{ field.name }}'] = $('#monitoring_data #{{ field.id_for_label }}').val()
        {% endfor %}
        return data;
    }
</script>