{% load gwml2_forms %}
<div id="well_metadata" class="page-section">
    <h2 class="section-title">Metadata</h2>
    <div class="section">
        <table>
            {% field_as_row form.organisation %}
            {% field_as_row form.created_by %}
            {% field_as_row form.created_at %}
            {% field_as_row form.last_edited_by %}
            {% field_as_row form.last_edited_at %}
            <tr class="input-column">
                <td>
                    Who can view it?
                </td>
                <td>
                    <div class="input">
                        <div style="float: left;">{{ form.public }}</div>
                        <div style="padding-top: 5px; margin-left: 28px;">
                            <span>Anyone</span>
                        </div>
                    </div>
                    <div style="clear: both; margin-top: 11px; margin-bottom: 6px;">
                        The following organisations:
                    </div>
                    <div>
                        {{ form.affiliate_organisations }}
                    </div>
                </td>
            </tr>
            {% field_as_row form.license %}
            {% field_as_row form.restriction_code_type %}
            {% field_as_row form.constraints_other %}
        </table>
    </div>
</div>

<script>
    submitFunctions['well_metadata'] = function () {
        let data = {}
        $('#well_metadata').find('input:enabled,textarea:enabled,select:enabled').each(
            function () {
                const key = $(this).attr('name');
                let value = $(this).val()
                if ($(this).attr('type') === 'checkbox') {
                    value = $(this).is(":checked")
                }
                data[key] = value
            });
        return data
    }
</script>
