{% load staticfiles %}
<link href="{% static 'css/apexcharts/apexcharts.css' %}" rel="stylesheet">
<style>
    .well-chart-row:before {
        display: table;
    }

    .well-chart-row {
        padding-top: 10px;
        min-height: 600px;
        padding-bottom: 25px;
    }

    .column-30 {
        width: 30%;
        float: left;
    }

    .column-70 {
        width: 70%;
        float: left;
    }

    .column-50 {
        width: 50%;
        float: left;
        padding: 15px;
    }

    .height-100 {
        height: 150px;
    }

    .well-table-container {
        height: 468px;
        overflow-y: auto;
        background-color: #ffffff;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    }

    .title {
        color: #24619d;
    }

    .well-table-container td {
        border: 1px solid #ebebeb;
        padding: 14px 18px;
        color: #333333;
    }

    .table-description {
        padding: 20px;
        line-height: 1.4;
    }

    .well-info {
        line-height: 200px;
        height: 100%;
        position: relative;
    }

    .well-info p {
        margin: 0;
        font-size: 9pt;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #24619d;
    }

    .read-only .well-table-container table td {
        padding: 10px !important;
    }

</style>

<svg style="display: none">
    <defs>
        <pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4">
            <path d="M-1,1 l2,-2
           M0,4 l4,-4
           M3,5 l2,-2"
                  style="stroke:black; stroke-width:1"></path>
        </pattern>
    </defs>
</svg>

<div class="well-chart-row many-to-many">
    <div class="column-50 height-100">
        <div class="charts-header">
            <h4>Well Chart <i class="fa fa fa-arrows-alt" aria-hidden="true" onclick="toggleFullScreenWellChart(this)"></i></h4>
        </div>
        <div class="charts" id="well-chart-container">
        </div>
    </div>
    <div class="column-50">
        <h3>&nbsp;</h3>
        <div id="well-table-container" class="well-table-container" style="max-width: 100% !important; margin-top: -10px;">
            <div class="well-info">
                <p>Please hover mouse over the chart</p>
            </div>
        </div>
    </div>
</div>

<script id="well-charts-table-template" type="text/template">
    <div class="column-50">
        <div class="title" style="width: 100% !important;">
            <h4>Construction</h4>
        </div>
        <table>
            <tr>
                <td>Top depth</td>
                <td><%= construction.translated_top %> <%= construction.translated_top_depth_unit %>
                </td>
            </tr>
            <tr>
                <td>Bottom depth</td>
                <td><%= construction.translated_bottom %> <%= construction.translated_bottom_depth_unit %>
                </td>
            </tr>
            <tr>
                <td>Type</td>
                <td><%= construction.type %></td>
            </tr>
            <tr>
                <td>Diameter</td>
                <td><% if (construction.data) { %><%= construction.data.diameter %><% } else { %>-<% } %></td>
            </tr>
            <tr>
                <td>Material</td>
                <td><% if (construction.data) { %><%= construction.data.material %><% } else { %>-<% } %></td>
            </tr>
        </table>
    </div>
    <div class="column-50" style="margin-bottom: 50px;">
        <div class="title" style="width: 100% !important;">
            <h4>Stratigraphy</h4>
            <table>
                <tr>
                    <td width="30%">Top depth</td>
                    <td><%= stratigraphy.translated_top %> <%= stratigraphy.translated_top_depth_unit %>
                    </td>
                </tr>
                <tr>
                    <td>Bottom depth</td>
                    <td><%= stratigraphy.translated_bottom %> <%= stratigraphy.translated_bottom_depth_unit %>
                    </td>
                </tr>
                <% if (stratigraphy.data) { %>
                <tr>
                    <td>Material</td>
                    <td>
                        <div style="height: 10px; width: 10px; background-color: <%= stratigraphy.data.material_color %>; float: left; margin-top: 2px; border-radius: 3px; margin-right: 5px;"></div>
                        <%= stratigraphy.data.material %>
                    </td>
                </tr>
                <tr>
                    <td>Stratigraphy Unit</td>
                    <td><%= stratigraphy.data.unit %></td>
                </tr>
                <% } else { %>
                <tr>
                    <td>Material</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stratigraphy Unit</td>
                    <td></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
</script>

<script type="text/javascript"
        src="{% static 'js/apexcharts/apexcharts.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/chroma.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore-1.11.0/underscore-min.js' %}"></script>
<script>

    // Last selected bar in the chart
    let currentSeriesIndex = null;
    let hoveredColorHighlight = 'rgba(219, 186, 0, 1)';
    let hoveredColorHighlight2 = 'rgb(255,230,115)';
    let selectedColorHighlight = 'rgba(70,165,42, 0.5)';
    let constructionChartEntered = false;
    let constructionChartClicked = false;
    let stratigraphyChart = null;
    let constructionChart = null;
    let lastHoveredData = {};
    let lastClickedData = {};

    const toggleFullScreenWellChart = function (element) {
        toggleFullScreen(element);
        setTimeout(function () {
            window.dispatchEvent(new Event('resize'));
        }, 100);
    }

    const getWellChartData = function () {
        {# TODO: #}
        {#  Please use this#}
        {#  const wellElevation = getTopGroundSurfaceWell('m') #}
        {#  top_borehole_elevation = wellElevation['top_borehole']; #}
        {#  ground_surface_elevation = wellElevation['ground_surface']; #}

        // Get chart data
        let ground_surface_elevation = valElmt($('*[name^="ground_surface_elevation_value"]'));
        let ground_surface_elevation_unit = valElmt($('*[name^="ground_surface_elevation_unit"]'));

        if (ground_surface_elevation_unit === 'ft') {
            ground_surface_elevation = feetToMeter(ground_surface_elevation)
        }

        let top_borehole_elevation = valElmt($('*[name^="top_borehole_elevation_value"]'));
        let top_borehole_elevation_unit = valElmt($('*[name^="top_borehole_elevation_unit"]'));

        if (top_borehole_elevation_unit === 'ft') {
            top_borehole_elevation = feetToMeter(top_borehole_elevation)
        }
        let totalDepth = valElmt($('*[name^="total_depth_value"]'))
        let totalDepthUnit = valElmt($('*[name^="total_depth_unit"]'))
        if (totalDepthUnit === 'ft') {
            totalDepth = feetToMeter(totalDepth)
        }

        if (top_borehole_elevation) {
            top_borehole_elevation -= ground_surface_elevation;
        } else {
            top_borehole_elevation = 0
        }

        let stratigraphicLogData = $('#stratigraphic_log_table .table-wrapper tr:has(td)').map(function (i, v) {
            let $td = $('td', this);
            let top = parseFloat(`${valElmt($td.eq(2).find('[name^="top_depth_value"]'))}`);
            let bottom = parseFloat(`${valElmt($td.eq(3).find('[name^="bottom_depth_value"]'))}`);
            let top_depth_unit = `${valElmt($td.eq(2).find('[name^="top_depth_unit"]'))}`;
            let bottom_depth_unit = `${valElmt($td.eq(3).find('[name^="bottom_depth_unit"]'))}`;
            let actual_top = top;
            let actual_bottom = bottom;
            let reference_elevation = `${valElmt($td.eq(1).find('[name^="reference_elevation"]'))}`;
            let actual_top_depth_unit = top_depth_unit;
            let actual_bottom_depth_unit = bottom_depth_unit;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
                top_depth_unit = 'm';
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
                bottom_depth_unit = 'm';
            }
            if (reference_elevation === 'Top of Borehole') {
                bottom = bottom - top_borehole_elevation;
                top = top - top_borehole_elevation;
            } else if (reference_elevation === 'Ground Surface Level ASL') {
                bottom = bottom;
                top = top;
            }
            return {
                id: parseInt(`${valElmt($td.eq(0).find('[name^="id_"]'))}`),
                top: top,
                bottom: bottom,
                top_depth_unit: top_depth_unit,
                bottom_depth_unit: bottom_depth_unit,
                reference_elevation: reference_elevation,
                actual_top: actual_top,
                actual_bottom: actual_bottom,
                actual_top_depth_unit: actual_top_depth_unit,
                actual_bottom_depth_unit: actual_bottom_depth_unit,
                translated_top: top,
                translated_bottom: bottom,
                translated_top_depth_unit: top_depth_unit,
                translated_bottom_depth_unit: bottom_depth_unit,
                data: {
                    material: `${valElmt($td.eq(4).find('[name^="material"]'))}`,
                    unit: `${valElmt($td.eq(5).find('[name^="stratigraphic_unit"]'))}`,
                }
            }
        }).get();

        let constructionData = $('#structure_table tr:has(td)').map(function (i, v) {
            let $td = $('td', this);
            let type = `${valElmt($td.eq(4).find('[name^="type"]'))}`;
            let reference_elevation = `${valElmt($td.eq(1).find('[name^="reference_elevation"]'))}`;
            let top = parseFloat(`${valElmt($td.eq(2).find('[name^="top_depth_value"]'))}`);
            let bottom = parseFloat(`${valElmt($td.eq(3).find('[name^="bottom_depth_value"]'))}`);
            let actual_top = top;
            let actual_bottom = bottom;
            let top_depth_unit = `${valElmt($td.eq(2).find('[name^="top_depth_unit"]'))}`;
            let bottom_depth_unit = `${valElmt($td.eq(3).find('[name^="bottom_depth_unit"]'))}`;
            let actual_top_depth_unit = top_depth_unit;
            let actual_bottom_depth_unit = bottom_depth_unit;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
                top_depth_unit = 'm';
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
                bottom_depth_unit = 'm';
            }
            if (reference_elevation === 'Top of Borehole') {
                bottom = bottom - top_borehole_elevation;
                top = top - top_borehole_elevation;
            } else if (reference_elevation === 'Ground Surface Level ASL') {
                bottom = bottom;
                top = top;
            }
            return {
                id: parseInt(`${valElmt($td.eq(0).find('[name^="id_"]'))}`),
                top: top,
                bottom: bottom,
                type: type,
                reference_elevation: reference_elevation,
                top_depth_unit: top_depth_unit,
                bottom_depth_unit: bottom_depth_unit,
                actual_top: actual_top,
                actual_bottom: actual_bottom,
                actual_top_depth_unit: actual_top_depth_unit,
                actual_bottom_depth_unit: actual_bottom_depth_unit,
                translated_top: top,
                translated_bottom: bottom,
                translated_top_depth_unit: top_depth_unit,
                translated_bottom_depth_unit: bottom_depth_unit,
                data: {
                    'type': type,
                    'diameter': `${valElmt($td.eq(5).find('[name^="diameter"]'))}`,
                    'material': `${valElmt($td.eq(6).find('[name^="material"]'))}`,
                    'description': `${valElmt($td.eq(7).find('[name^="description"]'))}`,
                }
            }
        }).get();
        stratigraphicLogData.sort((a, b) => (a.translated_top > b.translated_top) ? 1 : ((b.translated_top > a.translated_top) ? -1 : 0));

        // CONSTRUCTION DATA
        const constructionPatterns = [];
        const stratigraphicColors = [];
        constructionData.sort((a, b) => (a.top > b.top) ? 1 : ((b.top > a.top) ? -1 : 0));
        constructionData.forEach((_constructionData, index) => {
            if (_constructionData['type'] === 'Screen') {
                constructionPatterns.push('pattern');
            } else {
                constructionPatterns.push('solid');
            }
        })

        stratigraphicLogData.forEach((_stratigraphicLogData, index) => {
            const _color = stringToColour(_stratigraphicLogData['data']['material']);
            _stratigraphicLogData['data']['material_color'] = _color
            stratigraphicColors.push(_color)
        });

        let chartData = {
            'stratigraphy': stratigraphicLogData,
            'construction': constructionData,
            'stratigraphicColors': stratigraphicColors,
            'constructionPatterns': constructionPatterns
        }
        let topBoreholeChart = 0;
        if (top_borehole_elevation) {
            topBoreholeChart = top_borehole_elevation * -1;
        }
        $('#well-chart-container').html('')
        if (stratigraphicLogData.length > 0 || constructionData.length > 0) {
            createWellChart(chartData, 'well-chart-container', 'well-table-container', 0);
        } else {
            $('.well-chart-row').hide();
        }
    }

    function wellChart() {
        getWellChartData()
    }

    /**
     * Retrieve strati bar from coordinate
     * @return [ strati bar index, strati bar element ]
     **/
    function getStratiBarFromCoordinate(y) {
        let stratiIndex = null;
        let stratiChartElement = null;
        stratigraphyChart.each((index, _stratiChart) => {
            const boundingRect = _stratiChart.getBoundingClientRect();
            const _top = boundingRect.top;
            const _bottom = boundingRect.top + boundingRect.height;
            if (y >= _top && y <= _bottom) {
                stratiIndex = _stratiChart.getAttribute('rel') - 2;
                stratiChartElement = $(_stratiChart).children()[0];
                return true;
            }
        })
        return [stratiIndex, stratiChartElement];
    }

    /**
     * Retrieve construction bar from coordinate
     * @return [ construction bar index, construction bar element ]
     **/
    function getConstructionBarFromCoordinate(y) {
        let constructionIndex = null;
        let constructionChartElement = null;
        constructionChart.each((index, _constructionChart) => {
            const boundingRect = _constructionChart.getBoundingClientRect();
            const _top = boundingRect.top;
            const _bottom = boundingRect.top + boundingRect.height;
            if (y >= _top && y <= _bottom) {
                constructionIndex = _constructionChart.getAttribute('rel') - 2;
                constructionChartElement = $(_constructionChart).children()[0];
                return true;
            }
        })
        return [constructionIndex, constructionChartElement];
    }

    function highlightChartBar(barElement, chartKey, highlightColor = hoveredColorHighlight) {
        const dataContainer = lastHoveredData;
        const chartColorKey = chartKey + 'Color';
        const chartPatternKey = chartKey + 'Pattern';
        if (dataContainer[chartKey]) {
            dataContainer[chartKey].setAttribute('stroke', '#ffffff');
            dataContainer[chartKey].setAttribute('fill', dataContainer[chartColorKey]);
            if (dataContainer[chartKey] && dataContainer[chartColorKey].includes('Pattern')) {
                let pattern = dataContainer[chartColorKey].replace('url(', '').replace(')', '');
                pattern = $(pattern).children()[0];
                pattern.setAttribute('stroke', dataContainer[chartPatternKey]);
            }
        }
        if (barElement) {
            dataContainer[chartKey] = barElement;
            dataContainer[chartColorKey] = barElement.getAttribute('fill');
            barElement.setAttribute('stroke', highlightColor)
            if (dataContainer[chartColorKey] && dataContainer[chartColorKey].includes('Pattern')) {
                let pattern = dataContainer[chartColorKey].replace('url(', '').replace(')', '');
                pattern = $(pattern).children()[0];
                dataContainer[chartPatternKey] = pattern.getAttribute('stroke');
                pattern.setAttribute('stroke', highlightColor);
            } else {
                barElement.setAttribute('fill', highlightColor);
            }
        } else {
            dataContainer[chartKey] = null;
        }
    }

    function updateWellInformation(event, chartData, index = currentSeriesIndex) {
        let tableContainerId = 'well-table-container';
        const $tableDiv = $(`#${tableContainerId}`);
        let constructionData = chartData['construction'][index];
        if (chartData['constructionData']) {
            constructionData = chartData['constructionData']
        }
        if (!event || typeof constructionData === 'undefined') {
            $tableDiv.html(`<div class="well-info"><p>Please hover mouse over the chart</p></div>`);
            return true;
        }
        if (chartData['stratigraphyData']) {
            renderTable(tableContainerId, constructionData, chartData['stratigraphyData']);
            return true;
        }
        renderTable(tableContainerId, constructionData, {});
    }

    /**
     * Handler for chart hover event
     **/
    function chartHovered(event, chartData, type = 'construction') {
        let hoveredBar = null;
        let oppositeBar = null;

        if (event) {
            hoveredBar = event.target;
        }

        if (type === 'construction') {
            if (event) {
                const [stratiIndex, stratiElement] = getStratiBarFromCoordinate(event.clientY);
                if (stratiElement) {
                    chartData['constructionData'] = null;
                    oppositeBar = stratiElement;
                    chartData['stratigraphyData'] = chartData['stratigraphy'][stratiIndex + 1];
                }
            }
            highlightChartBar(hoveredBar, 'construction');
            highlightChartBar(oppositeBar, 'strati');
        } else {
            if (event) {
                const [constructionIndex, constructionElement] = getConstructionBarFromCoordinate(event.clientY);
                if (constructionElement) {
                    oppositeBar = constructionElement;
                    chartData['constructionData'] = chartData['construction'][constructionIndex + 1];
                } else {
                    chartData['constructionData'] = {};
                }
                chartData['stratigraphyData'] = chartData['stratigraphy'][currentSeriesIndex];
            }
            highlightChartBar(hoveredBar, 'strati');
            highlightChartBar(oppositeBar, 'construction', hoveredColorHighlight2);
        }
        updateWellInformation(event, chartData);
    }

    /**
     * Calculate construction chart padding
     **/
    function constructionChartPadding() {
        const containerWidth = $('#well-chart-container').width();
        if (containerWidth > 260) {
            return 0.7 * containerWidth;
        } else {
            return 0.75 * containerWidth;
        }
    }

    /**
     * Handler for chart click event
     **/
    function chartClicked(event, chartData) {
        // TODO : ADD LOGIC
    }

    /**
     * Render chart with chartData to a div with id of chartId
     * @param chartData, example : {
            'stratigraphy': [{
                'top': 0,
                'bottom': 10,
                'id': 1,
                'data': {
                    'material': 'clay',
                    'unit': 'upper devonian'
                }
            }, {
                'top': 10,
                'bottom': 30,
                'id': 2,
                'data': {
                    'material': 'soil',
                    'unit': 'lower devonian'
                }
            }],
            'construction': [{
                'top': 0,
                'bottom': 20,
                'id': 1,
                'data': {
                    'casing or screen': 'casing',
                    'diameter': '20mm',
                    'material': 'pvc',
                    'description': 'lorem ipsum'
                }
            }, {
                'top': 20,
                'bottom': 40,
                'id': 2,
                'data': {
                    'casing or screen': 'casing 2',
                    'diameter': '30mm',
                    'material': 'pvc 2',
                    'description': 'lorem ipsum 2'
                }
            }]
        }
     * @param chartId, id of the chart container div
     * @param tableContainerId, id of the table container div
     */
    function createWellChart(chartData, chartId, tableContainerId, topCasing = 0) {
        if (!chartData.hasOwnProperty('construction')) return false;
        if (!chartData.hasOwnProperty('stratigraphy')) return false;
        let width = $('#well-chart-container').width();

        const stratigraphyChartId = 'stratigraphy-chart-container'
        const stratigraphyChartDiv = $(`<div id="${stratigraphyChartId}" style="position: absolute; top: 0">`);
        $(`#${chartId}`).append(stratigraphyChartDiv);

        const constructionChartId = 'construction-chart-container'
        const constructionChartDiv = $(`<div id="${constructionChartId}">`);
        $(`#${chartId}`).append(constructionChartDiv);

        const constructionDataSeries = [];
        let maxConstructionData = 0;
        let topDepthConstruction = null;
        let bottomDepthConstruction = null;
        let constructionColors = [];
        let constructionOpacities = [];

        if (topCasing !== 0) {
            constructionDataSeries.push({
                id: -999,
                data: [topCasing]
            })
            constructionColors.push('#4f4f4f');
            constructionOpacities.push('1');
            chartData['constructionPatterns'].unshift('solid');
        }

        let _chartDataConstruction = Object.assign([], chartData['construction']);
        let _chartPatternConstruction = Object.assign([], chartData['constructionPatterns']);

        chartData['construction'].forEach((constructionData, index) => {
            if (topDepthConstruction === null) {
                topDepthConstruction = constructionData['top'];
            } else {
                if (constructionData['top'] < bottomDepthConstruction) {
                    constructionData['bottom'] -= bottomDepthConstruction - constructionData['top'];
                }
                topDepthConstruction = constructionData['top'];
            }
            if (bottomDepthConstruction !== null) {
                if (constructionData['bottom'] < bottomDepthConstruction) {
                    return true
                }
            }
            bottomDepthConstruction = constructionData['bottom'];

            const range = constructionData['bottom'] - constructionData['top'];
            maxConstructionData += range

            if (index > 0) {
                if (constructionData['top'] > chartData['construction'][index - 1]['bottom']) {
                    let emptyRange = constructionData['top'] - chartData['construction'][index - 1]['bottom'];
                    constructionDataSeries.push({
                        name: -999,
                        data: [emptyRange],
                    })
                    maxConstructionData += emptyRange;
                    _chartDataConstruction.splice(index, 0, ({
                        'translated_top': chartData['construction'][index - 1]['bottom'],
                        'translated_bottom': constructionData['top'],
                        'type': 'Empty',
                        'translated_top_depth_unit': 'm',
                        'translated_bottom_depth_unit': 'm',
                    }));
                    constructionColors.push('#ffffff');
                    constructionOpacities.push('1');
                    _chartPatternConstruction.splice(index, 0, 'solid');
                }
            }

            constructionDataSeries.push({
                name: constructionData['id'],
                data: [range]
            })

            if (constructionData['type'] === 'Casing') {
                constructionColors.push('#4f4f4f');
            } else if (constructionData['type'] === 'Screen') {
                constructionColors.push('#303030');
            } else {
                constructionColors.push('#f6f6f6');
            }
            constructionOpacities.push('1');
        })

        chartData['construction'] = _chartDataConstruction;
        chartData['constructionPatterns'] = _chartPatternConstruction;

        const stratigraphyDataSeries = [];
        const stratigraphyColors = [];
        const stratigraphyOpacities = [];

        if (topCasing) {
            stratigraphyDataSeries.push({
                id: -999,
                data: [topCasing]
            })
            stratigraphyColors.push('#ffffff');
            stratigraphyOpacities.push(0);
        }
        let maxStratigraphyData = 0;
        let topDepthStratigraphy = null;
        let bottomDepthStratigraphy = null;
        chartData['stratigraphy'].forEach((stratigraphyData, index) => {
            if (topDepthConstruction === null) {
                topDepthConstruction = stratigraphyData['top'];
            } else {
                if (stratigraphyData['top'] < bottomDepthStratigraphy) {
                    stratigraphyData['bottom'] -= bottomDepthStratigraphy - stratigraphyData['top'];
                }
                topDepthStratigraphy = stratigraphyData['top'];
            }
            bottomDepthStratigraphy = stratigraphyData['bottom'];
            const range = stratigraphyData['bottom'] - stratigraphyData['top'];
            maxStratigraphyData += range
            stratigraphyDataSeries.push({
                name: stratigraphyData['id'],
                data: [range]
            })
            stratigraphyColors.push(stratigraphyData['data']['material_color']);
            stratigraphyOpacities.push(1);
        })
        const max = maxConstructionData > maxStratigraphyData ? maxConstructionData : maxStratigraphyData;
        renderChart(constructionDataSeries, `#${constructionChartId}`, max,
            {
                'width': width,
                'padding_width': constructionChartPadding(),
                'center': true,
                'colors': constructionColors,
                'opacity': constructionOpacities,
                'topCasing': topCasing,
                'patterns': chartData['constructionPatterns'],
            }, (event, chartContext, config, eventName = 'hovered') => {
                if (eventName === 'hovered') {
                    chartHovered(event, chartData);
                } else if (eventName === 'clicked') {
                    chartClicked(event, chartData);
                }
            });
        renderChart(stratigraphyDataSeries, `#${stratigraphyChartId}`, max,
            {
                'width': width,
                'padding_width': 0,
                'colors': stratigraphyColors,
                'opacity': stratigraphyOpacities,
                'topCasing': topCasing,
            }, (event, chartContext, config, eventName = 'hovered') => {
                if (eventName === 'hovered') {
                    chartHovered(event, chartData, 'strati');
                }
            });
    }

    function renderTable(tableContainerId, constructionData, stratigraphyData) {
        const tableDiv = $(`#${tableContainerId}`);
        const table = _.template($('#well-charts-table-template').html());
        tableDiv.html(table(
            {
                'construction': constructionData,
                'stratigraphy': stratigraphyData
            }
        ));
    }

    function renderChart(chartSeriesData, chartContainerId, maxSeriesData, options, callback = null) {
        const center = options.hasOwnProperty('center') ? options['center'] : false;
        const width = options.hasOwnProperty('width') ? options['width'] : 300;
        const padding_width = options.hasOwnProperty('padding_width') ? options['padding_width'] : 300;
        const colors = options.hasOwnProperty('colors') ? options['colors'] : ['#F44336', '#E91E63', '#9C27B0'];
        const opacity = options.hasOwnProperty('opacity') ? options['opacity'] : 1;
        const topCasing = options.hasOwnProperty('topCasing') ? options['topCasing'] : 0;
        const patterns = options.hasOwnProperty('patterns') ? options['patterns'] : 'solid';
        const pattern_type = options.hasOwnProperty('pattern_type') ? options['pattern_type'] : 'diagonalLines';
        let chartOptions = {
            series: chartSeriesData,
            stroke: {
                width: 2,
                colors: ['#fff']
            },
            animations: {
                enabled: false
            },
            chart: {
                type: 'bar',
                height: 500,
                width: width - padding_width,
                stacked: true,
                events: {
                    dataPointMouseEnter: function (event, chartContext, config) {
                        if (callback) {
                            constructionChartEntered = true;
                            chartContext['seriesIndex'] = config['seriesIndex'];
                            currentSeriesIndex = config['seriesIndex'];
                            callback(event, chartContext, config);
                        }
                    },
                    click: function (event, chartContext, config) {
                        if (callback) {
                            callback(event, chartContext, config, 'clicked');
                        }
                    },
                    dataPointMouseLeave: function (event, chartContext, config) {
                        if (callback) {
                            constructionChartEntered = false;
                            if (chartContext['selectedSeriesIndex']) {
                                const _config = config;
                                _config['seriesIndex'] = chartContext['selectedSeriesIndex'];
                                callback(event, chartContext, _config);
                            } else {
                                callback(null);
                            }
                        }
                    },
                    mounted: function (chartContext, config) {
                        if (center) {
                            $(chartContainerId).find('.apexcharts-canvas').css({
                                'margin-left': 'auto',
                                'margin-right': 'auto'
                            })
                        }
                        stratigraphyChart = (
                            $('#stratigraphy-chart-container').find('.apexcharts-series')
                        )
                        constructionChart = (
                            $('#construction-chart-container').find('.apexcharts-series')
                        )
                    },
                    updated: function (chartContext, config) {
                        chart.destroy();
                        options['width'] = $('#well-chart-container').width();
                        if (chartContainerId.includes('construction')) {
                            options['padding_width'] = constructionChartPadding();
                        }
                        renderChart(chartSeriesData, chartContainerId, maxSeriesData, options, callback);
                    },
                    mouseMove: function (event, chartContext, config) {
                        if (callback) {
                            if (constructionChartEntered) {
                                chartContext['seriesIndex'] = config['seriesIndex'];
                                callback(event, chartContext, config);
                            }
                        }
                    }
                },
                toolbar: {
                    show: false
                }
            },
            tooltip: {
                enabled: false
            },
            xaxis: {
                labels: {
                    show: false
                },
                categories: ['Depth'],
            },
            yaxis: {
                type: 'numeric',
                min: 0,
                tickAmount: maxSeriesData / 10,
                reversed: true,
                show: !center,
                max: maxSeriesData,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    formatter: function (value) {
                        if (value < 0 && value === topCasing) {
                            return ['Top', 'Borehole']
                        }
                        if (value < 0) {
                            return '+' + Math.abs(value).toFixed(2) + "m";
                        }
                        return value.toFixed(2) + "m";
                    }
                },
                title: {
                    show: true,
                    text: "Depth Below Ground Surface"
                }
            },
            grid: {
                show: !center
            },
            fill: {
                colors: colors,
                opacity: opacity,
                type: patterns,
                pattern: {
                    style: pattern_type,
                    width: 4,
                    height: 4,
                    strokeWidth: 1,
                },
            },
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            },
            states: {
                hover: {
                    filter: {
                        type: center ? 'lighten' : 'none',
                    }
                },
                active: {
                    filter: {
                        type: center ? 'lighten' : 'none',
                        value: 0.10,
                    }
                }
            }
        };

        let chart = new ApexCharts(document.querySelector(chartContainerId), chartOptions);
        chart.render();
        return chart;
    }

</script>