{% load staticfiles %}
<link href="{% static 'css/apexcharts/apexcharts.css' %}" rel="stylesheet">
<style>
    .well-chart-row:before {
        display: table;
    }

    .well-chart-row {
        padding-top: 10px;
        min-height: 600px;
        padding-bottom: 25px;
    }

    .column-30 {
        width: 30%;
        float: left;
    }

    .column-70 {
        width: 70%;
        float: left;
    }

    .column-50 {
        width: 50%;
        float: left;
        padding: 15px;
    }

    .height-100 {
        height: 150px;
    }

    .well-table-container {
        height: 468px;
        overflow-y: auto;
        background-color: #ffffff;
        box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.07);
    }

    .title {
        color: #24619d;
    }

    .well-table-container td {
        border: 1px solid #ebebeb;
        padding: 14px 18px;
        color: #333333;
    }

    .table-description {
        padding: 20px;
        line-height: 1.4;
    }

    .well-info {
        line-height: 200px;
        height: 100%;
        position: relative;
    }

    .well-info p {
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #24619d;
    }

</style>


<div class="well-chart-row">
    <div class="column-30 height-100">
        <div class="charts-header">
            <h3>Well Chart</h3>
        </div>
        <div style="font-weight: bold; height: 30px;">
            <div style="width: 30%; float: left">Depth From Surface</div>
            <div style="width: 40%; float: left; text-align: center">Construction</div>
            <div style="width: 30%; float: left">Stratigraphy</div>
        </div>
        <div class="charts" id="well-chart-container">
        </div>
    </div>
    <div class="column-70">
        <h3>Well information</h3>
        <div id="well-table-container" class="well-table-container" style="max-width: 100% !important;">
            <div class="well-info">
                <p>Please hover over the chart on the left</p>
            </div>
        </div>
    </div>
</div>

<script id="well-charts-table-template" type="text/template">
    <div class="column-50">
        <div class="title" style="width: 100% !important;">
            <h4>Construction</h4>
        </div>
        <table>
            <tr>
                <td width="30%">Type</td>
                <td><%= construction.type %></td>
            </tr>
            <tr>
                <td>Top depth</td>
                <td><%= construction.actual_top %> <%= construction.actual_top_depth_unit %>
                    (<%= construction.translated_top %> <%= construction.translated_top_depth_unit %>)
                </td>
            </tr>
            <tr>
                <td>Bottom depth</td>
                <td><%= construction.actual_bottom %> <%= construction.actual_bottom_depth_unit %>
                    (<%= construction.translated_bottom %> <%= construction.translated_bottom_depth_unit %>)
                </td>
            </tr>
            <tr>
                <td>Reference Elevation</td>
                <td><%= construction.reference_elevation %></td>
            </tr>
            <tr>
                <td>Diameter</td>
                <td><%= construction.data.diameter %></td>
            </tr>
            <tr>
                <td>Material</td>
                <td><%= construction.data.material %></td>
            </tr>
        </table>
    </div>
    <div class="column-50" style="margin-bottom: 50px;">
        <div class="title" style="width: 100% !important;">
            <h4>Stratigraphy</h4>
            <table>
                <tr>
                    <td width="30%">Top depth</td>
                    <td><%= stratigraphy.actual_top %> <%= stratigraphy.actual_top_depth_unit %>
                        (<%= stratigraphy.translated_top %> <%= stratigraphy.translated_top_depth_unit %>)
                    </td>
                </tr>
                <tr>
                    <td>Bottom depth</td>
                    <td><%= stratigraphy.actual_bottom %> <%= stratigraphy.actual_bottom_depth_unit %>
                        (<%= stratigraphy.translated_bottom %> <%= stratigraphy.translated_bottom_depth_unit %>)
                    </td>
                </tr>
                <tr>
                    <td>Reference Elevation</td>
                    <td><%= stratigraphy.reference_elevation %></td>
                </tr>
                <% if (stratigraphy.data) { %>
                <tr>
                    <td>Material</td>
                    <td>
                        <div style="height: 10px; width: 10px; opacity: 0.5; background-color: <%= stratigraphy.data.material_color %>; float: left; margin-top: 2px; border-radius: 3px; margin-right: 5px;"></div>
                        <%= stratigraphy.data.material %>
                    </td>
                </tr>
                <tr>
                    <td>Stratigraphy Unit</td>
                    <td><%= stratigraphy.data.unit %></td>
                </tr>
                <% } else { %>
                <tr>
                    <td>Material</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Stratigraphy Unit</td>
                    <td></td>
                </tr>
                <% } %>
            </table>
        </div>
    </div>
    <div class="table-description">
        <h5>Description</h5>
        <%= construction.data.description %>
    </div>
</script>

<script type="text/javascript"
        src="{% static 'js/apexcharts/apexcharts.min.js' %}"></script>
<script type="text/javascript"
        src="{% static 'js/chroma.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/underscore-1.11.0/underscore-min.js' %}"></script>
<script>
    const valElmt = function ($element) {
        if ($element.is('select')) {
            return $element.find('option:selected').text()
        } else if ($element.is('input')) {
            return $element.val()
        } else {
            return $element.text()
        }
    }
    const getWellChartData = function () {
        // Get chart data
        let ground_surface_elevation = valElmt($('*[name^="ground_surface_elevation_value"]'));
        let ground_surface_elevation_unit = valElmt($('*[name^="ground_surface_elevation_unit"]'));

        if (ground_surface_elevation_unit === 'ft') {
            ground_surface_elevation = feetToMeter(ground_surface_elevation)
        }

        let top_borehole_elevation = valElmt($('*[name^="top_borehole_elevation_value"]'));
        let top_borehole_elevation_unit = valElmt($('*[name^="top_borehole_elevation_unit"]'));

        if (top_borehole_elevation_unit === 'ft') {
            top_borehole_elevation = feetToMeter(top_borehole_elevation)
        }
        let totalDepth = valElmt($('*[name^="total_depth_value"]'))
        let totalDepthUnit = valElmt($('*[name^="total_depth_unit"]'))
        if (totalDepthUnit === 'ft') {
            totalDepth = feetToMeter(totalDepth)
        }

        let stratigraphicLogData = $('#stratigraphic_log_table .table-wrapper tr:has(td)').map(function (i, v) {
            let $td = $('td', this);
            let top = parseFloat(`${valElmt($td.eq(2).find('[name^="top_depth_value"]'))}`);
            let bottom = parseFloat(`${valElmt($td.eq(3).find('[name^="bottom_depth_value"]'))}`);
            let top_depth_unit = `${valElmt($td.eq(2).find('[name^="top_depth_unit"]'))}`;
            let bottom_depth_unit = `${valElmt($td.eq(3).find('[name^="bottom_depth_unit"]'))}`;
            let actual_top = top;
            let actual_bottom = bottom;
            let reference_elevation = `${valElmt($td.eq(1).find('[name^="reference_elevation"]'))}`;
            let actual_top_depth_unit = top_depth_unit;
            let actual_bottom_depth_unit = bottom_depth_unit;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
                top_depth_unit = 'm';
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
                bottom_depth_unit = 'm';
            }
            if (reference_elevation === 'Top of Borehole') {
                bottom = top_borehole_elevation - bottom;
                top = top_borehole_elevation - top;
            } else if (reference_elevation === 'Ground Surface Level ASL') {
                bottom = ground_surface_elevation - bottom;
                top = ground_surface_elevation - top;
            }
            return {
                id: parseInt(`${valElmt($td.eq(0).find('[name^="id_"]'))}`),
                top: top,
                bottom: bottom,
                top_depth_unit: top_depth_unit,
                bottom_depth_unit: bottom_depth_unit,
                reference_elevation: reference_elevation,
                actual_top: actual_top,
                actual_bottom: actual_bottom,
                actual_top_depth_unit: actual_top_depth_unit,
                actual_bottom_depth_unit: actual_bottom_depth_unit,
                translated_top: top,
                translated_bottom: bottom,
                translated_top_depth_unit: top_depth_unit,
                translated_bottom_depth_unit: bottom_depth_unit,
                data: {
                    material: `${valElmt($td.eq(4).find('[name^="material"]'))}`,
                    unit: `${valElmt($td.eq(5).find('[name^="stratigraphic_unit"]'))}`,
                }
            }
        }).get();

        let constructionData = $('#structure_table tr:has(td)').map(function (i, v) {
            let $td = $('td', this);
            let type = `${valElmt($td.eq(1).find('[name^="type"]'))}`;
            let reference_elevation = `${valElmt($td.eq(2).find('[name^="reference_elevation"]'))}`;
            let top = parseFloat(`${valElmt($td.eq(3).find('[name^="top_depth_value"]'))}`);
            let bottom = parseFloat(`${valElmt($td.eq(4).find('[name^="bottom_depth_value"]'))}`);
            let actual_top = top;
            let actual_bottom = bottom;
            let top_depth_unit = `${valElmt($td.eq(3).find('[name^="top_depth_unit"]'))}`;
            let bottom_depth_unit = `${valElmt($td.eq(4).find('[name^="bottom_depth_unit"]'))}`;
            let actual_top_depth_unit = top_depth_unit;
            let actual_bottom_depth_unit = bottom_depth_unit;
            if (top_depth_unit === 'ft') {
                top = feetToMeter(top);
                top_depth_unit = 'm';
            }
            if (bottom_depth_unit === 'ft') {
                bottom = feetToMeter(bottom);
                bottom_depth_unit = 'm';
            }
            if (reference_elevation === 'Top of Borehole') {
                bottom = top_borehole_elevation - bottom;
                top = top_borehole_elevation - top;
            } else if (reference_elevation === 'Ground Surface Level ASL') {
                bottom = ground_surface_elevation - bottom;
                top = ground_surface_elevation - top;
            }
            return {
                id: parseInt(`${valElmt($td.eq(0).find('[name^="id_"]'))}`),
                top: top,
                bottom: bottom,
                type: type,
                reference_elevation: reference_elevation,
                top_depth_unit: top_depth_unit,
                bottom_depth_unit: bottom_depth_unit,
                actual_top: actual_top,
                actual_bottom: actual_bottom,
                actual_top_depth_unit: actual_top_depth_unit,
                actual_bottom_depth_unit: actual_bottom_depth_unit,
                translated_top: top,
                translated_bottom: bottom,
                translated_top_depth_unit: top_depth_unit,
                translated_bottom_depth_unit: bottom_depth_unit,
                data: {
                    'type': type,
                    'diameter': `${valElmt($td.eq(5).find('[name^="diameter"]'))}`,
                    'material': `${valElmt($td.eq(6).find('[name^="material"]'))}`,
                    'description': `${valElmt($td.eq(7).find('[name^="description"]'))}`,
                }
            }
        }).get();
        stratigraphicLogData.sort((a, b) => (a.translated_top > b.translated_top) ? 1 : ((b.translated_top > a.translated_top) ? -1 : 0));

        // CONSTRUCTION DATA
        const constructionPatterns = [];
        const stratigraphicColors = [];
        constructionData.sort((a, b) => (a.top > b.top) ? 1 : ((b.top > a.top) ? -1 : 0));
        constructionData.forEach((_constructionData, index) => {
            if (_constructionData['type'] === 'Screen') {
                constructionPatterns.push('pattern');
            } else {
                constructionPatterns.push('solid');
            }
        })

        stratigraphicLogData.forEach((_stratigraphicLogData, index) => {
            const _color = stringToColour(_stratigraphicLogData['data']['material']);
            _stratigraphicLogData['data']['material_color'] = _color
            stratigraphicColors.push(_color)
        });

        let chartData = {
            'stratigraphy': stratigraphicLogData,
            'construction': constructionData,
            'stratigraphicColors': stratigraphicColors,
            'constructionPatterns': constructionPatterns
        }
        let topBoreholeChart = 0;
        if (top_borehole_elevation) {
            topBoreholeChart = top_borehole_elevation * -1;
        }
        $('#well-chart-container').html('')
        if (stratigraphicLogData.length > 0 || constructionData.length > 0) {
            createWellChart(chartData, 'well-chart-container', 'well-table-container', topBoreholeChart);
        } else {
            $('.well-chart-row').hide();
        }
    }

    function wellChart() {
        getWellChartData()
    }

    /**
     * Render chart with chartData to a div with id of chartId
     * @param chartData, example : {
            'stratigraphy': [{
                'top': 0,
                'bottom': 10,
                'id': 1,
                'data': {
                    'material': 'clay',
                    'unit': 'upper devonian'
                }
            }, {
                'top': 10,
                'bottom': 30,
                'id': 2,
                'data': {
                    'material': 'soil',
                    'unit': 'lower devonian'
                }
            }],
            'construction': [{
                'top': 0,
                'bottom': 20,
                'id': 1,
                'data': {
                    'casing or screen': 'casing',
                    'diameter': '20mm',
                    'material': 'pvc',
                    'description': 'lorem ipsum'
                }
            }, {
                'top': 20,
                'bottom': 40,
                'id': 2,
                'data': {
                    'casing or screen': 'casing 2',
                    'diameter': '30mm',
                    'material': 'pvc 2',
                    'description': 'lorem ipsum 2'
                }
            }]
        }
     * @param chartId, id of the chart container div
     * @param tableContainerId, id of the table container div
     */
    function createWellChart(chartData, chartId, tableContainerId, topCasing = 0) {
        if (!chartData.hasOwnProperty('construction')) return false;
        if (!chartData.hasOwnProperty('stratigraphy')) return false;
        let width = $('#well-chart-container').width();

        const stratigraphyChartId = 'stratigraphy-chart-container'
        const stratigraphyChartDiv = $(`<div id="${stratigraphyChartId}" style="position: absolute; top: 0">`);
        $(`#${chartId}`).append(stratigraphyChartDiv);

        const constructionChartId = 'construction-chart-container'
        const constructionChartDiv = $(`<div id="${constructionChartId}">`);
        $(`#${chartId}`).append(constructionChartDiv);

        const constructionDataSeries = [];
        let maxConstructionData = 0;
        let topDepthConstruction = null;
        let bottomDepthConstruction = null;
        let constructionColors = [];
        let constructionOpacities = [];

        if (topCasing !== 0) {
            constructionDataSeries.push({
                id: -999,
                data: [topCasing]
            })
            constructionColors.push('#a74343');
            constructionOpacities.push('1');
            chartData['constructionPatterns'].unshift('solid');
        }

        chartData['construction'].forEach((constructionData, index) => {
            if (topDepthConstruction === null) {
                topDepthConstruction = constructionData['top'];
            } else {
                if (constructionData['top'] < bottomDepthConstruction) {
                    constructionData['bottom'] -= bottomDepthConstruction - constructionData['top'];
                }
                topDepthConstruction = constructionData['top'];
            }
            if (bottomDepthConstruction !== null) {
                if (constructionData['bottom'] < bottomDepthConstruction) {
                    return true
                }
            }
            bottomDepthConstruction = constructionData['bottom'];

            const range = constructionData['bottom'] - constructionData['top'];
            maxConstructionData += range
            constructionDataSeries.push({
                name: constructionData['id'],
                data: [range]
            })

            if (constructionData['type'] === 'Casing') {
                constructionColors.push('#676767');
                constructionOpacities.push('0.8');
            } else if (constructionData['type'] === 'Screen') {
                constructionColors.push('#303030');
                constructionOpacities.push('1');
            } else {
                constructionColors.push('#c8c8c8');
                constructionOpacities.push('0.6');
            }
        })

        const stratigraphyDataSeries = [];
        const stratigraphyColors = [];
        const stratigraphyOpacities = [];

        if (topCasing) {
            stratigraphyDataSeries.push({
                id: -999,
                data: [topCasing]
            })
            stratigraphyColors.push('#ffffff');
            stratigraphyOpacities.push(0);
        }
        let maxStratigraphyData = 0;
        let topDepthStratigraphy = null;
        let bottomDepthStratigraphy = null;
        chartData['stratigraphy'].forEach((stratigraphyData, index) => {
            if (topDepthConstruction === null) {
                topDepthConstruction = stratigraphyData['top'];
            } else {
                if (stratigraphyData['top'] < bottomDepthStratigraphy) {
                    stratigraphyData['bottom'] -= bottomDepthStratigraphy - stratigraphyData['top'];
                }
                topDepthStratigraphy = stratigraphyData['top'];
            }
            bottomDepthStratigraphy = stratigraphyData['bottom'];
            const range = stratigraphyData['bottom'] - stratigraphyData['top'];
            maxStratigraphyData += range
            stratigraphyDataSeries.push({
                name: stratigraphyData['id'],
                data: [range]
            })
            stratigraphyColors.push(stratigraphyData['data']['material_color']);
            stratigraphyOpacities.push(0.5);
        })
        const max = maxConstructionData > maxStratigraphyData ? maxConstructionData : maxStratigraphyData;
        renderChart(constructionDataSeries, `#${constructionChartId}`, max,
            {
                'width': width,
                'padding_width': 180,
                'center': true,
                'colors': constructionColors,
                'opacity': constructionOpacities,
                'topCasing': topCasing,
                'patterns': chartData['constructionPatterns'],
            }, (event, chartContext, config) => {
                if (!event) {
                    return true;
                }
                let seriesIndex = config['seriesIndex'];
                if (topCasing !== 0) {
                    seriesIndex += -1;
                }
                const constructionData = chartData['construction'][seriesIndex];
                chartData['stratigraphy'].some((stratigraphyData, index) => {
                    if (constructionData['translated_bottom'] <= stratigraphyData['translated_bottom']) {
                        renderTable(tableContainerId, constructionData, stratigraphyData);
                        return true;
                    } else {
                        renderTable(tableContainerId, constructionData, {});
                    }
                })
            });
        renderChart(stratigraphyDataSeries, `#${stratigraphyChartId}`, max,
            {
                'width': width,
                'padding_width': 0,
                'colors': stratigraphyColors,
                'opacity': stratigraphyOpacities,
                'topCasing': topCasing,
            });
    }

    function renderTable(tableContainerId, constructionData, stratigraphyData) {
        const tableDiv = $(`#${tableContainerId}`);
        const table = _.template($('#well-charts-table-template').html());
        tableDiv.html(table(
            {
                'construction': constructionData,
                'stratigraphy': stratigraphyData
            }
        ));
    }

    function renderChart(chartSeriesData, chartContainerId, maxSeriesData, options, callback = null) {
        const center = options.hasOwnProperty('center') ? options['center'] : false;
        const width = options.hasOwnProperty('width') ? options['width'] : 300;
        const padding_width = options.hasOwnProperty('padding_width') ? options['padding_width'] : 300;
        const colors = options.hasOwnProperty('colors') ? options['colors'] : ['#F44336', '#E91E63', '#9C27B0'];
        const opacity = options.hasOwnProperty('opacity') ? options['opacity'] : 1;
        const topCasing = options.hasOwnProperty('topCasing') ? options['topCasing'] : 0;
        const patterns = options.hasOwnProperty('patterns') ? options['patterns'] : 'solid';
        const pattern_type = options.hasOwnProperty('pattern_type') ? options['pattern_type'] : 'horizontalLines';
        let chartOptions = {
            series: chartSeriesData,
            stroke: {
                width: 1,
                colors: ['#fff']
            },
            chart: {
                type: 'bar',
                height: 450,
                width: width - padding_width,
                stacked: true,
                events: {
                    dataPointMouseEnter: function (event, chartContext, config) {
                        if (callback) {
                            callback(event, chartContext, config);
                        }
                    },
                    dataPointMouseLeave: function (event, chartContext, config) {
                        if (callback) {
                            callback(null);
                        }
                    },
                    mounted: function (chartContext, config) {
                        if (center) {
                            $(chartContainerId).find('.apexcharts-canvas').css({
                                'margin-left': 'auto',
                                'margin-right': 'auto'
                            })
                        }
                    },
                    updated: function (chartContext, config) {
                        chart.destroy();
                        options['width'] = $('#well-chart-container').width();
                        renderChart(chartSeriesData, chartContainerId, maxSeriesData, options, callback);
                    }
                },
                toolbar: {
                    show: false
                }
            },
            tooltip: {
                enabled: false
            },
            xaxis: {
                labels: {
                    show: false
                },
                categories: ['Depth'],
            },
            yaxis: {
                reversed: true,
                show: !center,
                max: maxSeriesData,
                axisBorder: {
                    show: false,
                },
                axisTicks: {
                    show: false
                },
                labels: {
                    formatter: function (value) {
                        if (value < 0 && value === topCasing) {
                            return ['Top', 'Borehole']
                        }
                        if (value < 0) {
                            return '+' + Math.abs(value).toFixed(2) + "m";
                        }
                        return value.toFixed(2) + "m";
                    }
                }
            },
            grid: {
                show: !center
            },
            fill: {
                colors: colors,
                opacity: opacity,
                type: patterns,
                pattern: {
                    style: pattern_type,
                    width: 5,
                    height: 5,
                    strokeWidth: 3,
                },
            },
            legend: {
                show: false
            },
            dataLabels: {
                enabled: false
            }
        };

        let chart = new ApexCharts(document.querySelector(chartContainerId), chartOptions);
        chart.render();
    }

</script>