{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% csrf_token %}
{% block page_title %}
    <h1>Upload Excel File For Well Data.</h1>
{% endblock page_title %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}
{% block body %}
    <style>
      .page-header {
        font-size: 17pt;
      }

      .form-group p, .form-group .p {
        border: 1px solid lightgrey;
        padding: 15px;
      }

      .form-group p:hover {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
      }

      .tab-pane {
        padding: 40px;
        border-bottom: 1px solid rgb(221, 221, 221);
        border-left: 1px solid rgb(221, 221, 221);
        border-right: 1px solid rgb(221, 221, 221);
      }

      .template-indicator {
        margin-bottom: 20px;
        font-style: italic;
        color: grey;
      }

      .template-indicator a {
        font-weight: 700;
      }

      .notes span {
        display: inline-block;
        padding: 5px 10px;
        font-weight: 700;
      }

      .StatusRow {
        margin-bottom: 3px;
      }

      .StatusRow td {
        padding: 1px;
      }

      .StatusRow span {
        width: 100%;
      }

      .notes .added {
        background-color: #48b14f;
        color: white;
      }

      .notes .error {
        background-color: #ca3232;
        color: white;
      }

      .notes .skipped {
        background-color: #ffef44;
      }

      select {
        cursor: pointer;
      }

      select,
      textarea {
        width: 100%;
      }

      .multivalue .multivalue-selection div {
        float: none !important;
        width: fit-content;
        display: inline-block;
      }

      .well:hover {
        cursor: pointer;
        opacity: 0.7;
      }

      .progress {
        border-radius: 0 !important;
        height: 2rem !important;
        margin: -1px;
        position: relative;
      }

      #upload-progress {
        text-align: left;
        box-sizing: border-box;
      }

      #upload-progress-text {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        color: white;
        padding: 6px 1rem;
      }

      .nav-item.active .nav-link {
        background-color: var(--gn-link-color, #397aab) !important;
        color: white !important;
      }
    </style>

    <div class="container">
        <div class="page-header">
            <h2>{% trans "Batch Upload Form" %}</h2>
        </div>
        <div class="row">
            {% if upload_session %}
                <div class="container">
                    <h5>{% trans "Current upload" %}</h5>
                    <div style="border: 1px solid #ddd; padding-bottom: 1rem; margin-bottom: 1rem">
                        <div class="container-fluid row">
                            <div class="progress">
                                <div id="upload-progress-text">
                                    Loading
                                </div>
                                <div id="upload-progress"
                                     class="progress-bar progress-bar-success"
                                     role="progressbar" aria-valuenow="0"
                                     aria-valuemin="0" aria-valuemax="100"
                                     style="width:0%">
                                </div>
                            </div>
                            <div class="col-xs-2">
                                <p>Uploader</p>
                                <p>Filename</p>
                                <p>Organisation</p>
                                <p>Uploaded at</p>
                                <p>Status</p>
                                <p></p>
                            </div>
                            <div class="col-xs-10">
                                <p>:
                                    {% if upload_session.category == 'well_upload' %}
                                        General Information
                                    {% elif upload_seesion.category == 'well_monitoring_upload' %}
                                        Monitoring Data
                                    {% else %}Drilling and
                                        Construction{% endif %}</p>
                                <p>:
                                    <a href="{{ upload_session.upload_file.url }}">
                                        {{ upload_session.filename }}
                                    </a></p>
                                <p>: {{ upload_session.organisation.name }}</p>
                                <p>: <span id="upload-progress-timestamp"/></p>
                                <script>
                                  $('#upload-progress-timestamp').html(new Date({{ upload_session.timestamp }}));
                                </script>
                                <p id="upload-progress-task-status">
                                    : {{ upload_session.task_status }}
                                    {% if upload_session.task_status == 'STOP' %}
                                        <button id="ResumeButton">Resume
                                        </button>
                                    {% endif %}
                                </p>
                                <p>
                                    <span id="upload-progress-status"
                                          class="notes" role="alert"/>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <form action="" method="post" name="file"
                          enctype="multipart/form-data"
                          class="form-horizontal">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-12">
                                <p>
                                    {{ form.organisation.label_tag }}
                                    {{ form.organisation }}
                                </p>
                            </div>
                        </div>

                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab"
                                   data-toggle="tab" href="#well-descriptor"
                                   role="tab"
                                   aria-controls="home"
                                   aria-selected="true">{% trans "General Information" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab"
                                   data-toggle="tab"
                                   href="#well-monitoring" role="tab"
                                   aria-controls="profile"
                                   aria-selected="false">{% trans "Monitoring data" %}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab"
                                   data-toggle="tab"
                                   href="#well-drilling-and-construction"
                                   role="tab"
                                   aria-controls="profile"
                                   aria-selected="false">{% trans "Drilling and Construction" %}</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade" id="well-descriptor"
                                 role="tabpanel" aria-labelledby="home-tab">
                                <div class="template-indicator">
                                    {% trans "This Batch Upload allows you to import several Well data at one time. The Batch Upload currently supports the upload of General Information (i.e. identification and location of your data points)." %}
                                    <br>
                                    {% trans "Download the templates and fill them in with your data, then simply upload these files." %}
                                    <br>
                                    <br>
                                    {% trans "Template" %} :
                                    <a href="{% static 'download_template/wells.xlsx' %}">
                                        {% trans "here" %}
                                    </a>
                                </div>
                                <p>
                                    {{ form.license.label_tag }}
                                    {{ form.license }}
                                    <br>
                                    <br>
                                    {{ form.restriction_code_type.label_tag }}
                                    {{ form.restriction_code_type }}
                                    <br>
                                    <br>
                                    {{ form.constraints_other.label_tag }}
                                    {{ form.constraints_other }}

                                <div class="template-indicator">
                                    {% trans "License, Restriction and Restrictions other will override the data on excel if filled." %}
                                </div>
                                <br>
                                <br>
                                {{ form.gw_well_file.label_tag }}
                                {{ form.gw_well_file }}
                                </p>
                            </div>
                            <div class="tab-pane fade" id="well-monitoring"
                                 role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="template-indicator">
                                    {% trans "This Batch Upload allows you to import several Monitoring Data at one time. Upload the well information before using this form." %}
                                    <br>
                                    {% trans "Download the templates and fill them in with your data, then simply upload these files. Don't forget to link the monitoring data with the well ID that is already imported." %}

                                    <br>
                                    <br>
                                    {% trans "Template" %} :
                                    <a href="{% static 'download_template/monitoring_data.xlsx' %}">
                                        {% trans "here" %}
                                    </a>
                                </div>
                                <p>
                                    {{ form.gw_well_monitoring_file.label_tag }}
                                    {{ form.gw_well_monitoring_file }}
                                </p>
                            </div>
                            <div class="tab-pane fade"
                                 id="well-drilling-and-construction"
                                 role="tabpanel"
                                 aria-labelledby="profile-tab">
                                <div class="template-indicator">
                                    {% trans "This Batch Upload allows you to import drilling and construction." %}
                                    <br>
                                    <br>
                                    {% trans "WATER STRIKE, STRATIGRAPHIC LOG and STRUCTURES will replace all data." %}
                                    {% trans "Example we have well A and B. On excel, we have row Water Strike for well A. On import, it will replace Water Strike on Well A, but will keep data on B." %}
                                    {% trans "Download the templates and fill them in with your data, then simply upload these files. Don't forget to link the monitoring data with the well ID that is already imported." %}

                                    <br>
                                    <br>
                                    {% trans "Template" %} :
                                    <a href="{% static 'download_template/drilling_and_construction.xlsx' %}">
                                        {% trans "here" %}
                                    </a>
                                </div>
                                <p>
                                    {{ form.gw_well_drilling_and_construction_file.label_tag }}
                                    {{ form.gw_well_drilling_and_construction_file }}
                                </p>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"
                                 style="margin-top: 20px">
                                <a href="{% url "well_upload_view" %}"
                                   class="btn btn-danger pull-left"
                                   onClick="$(form)[0].reset();"
                                   style="margin-right: 10px">Clear </a>
                                <button class="btn btn-primary pull-left"><span
                                        class="glyphicon glyphicon-upload"
                                        style="margin-right:5px;"
                                        type="file"></span>{% trans "Upload" %}
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            {% endif %}

        </div>

        {% if past_upload %}
            <div id="past-upload-sessions">
                <h5>{% trans "Past upload sessions" %}</h5>
                <br>
                <div id="pass-upload"></div>
            </div>
        {% endif %}
    </div>

    <script src="{% static "lib/js/jquery.js" %}"></script>
    <script>
      let past_upload = {{ past_upload|safe }};

      function returnStatusHtml(status) {
        if (status.added !== undefined) {
          return `
                <span class="added">${status.added} added</span>
                <span class="error">${status.error} error</span>
                <span class="skipped">${status.skipped} skipped</span>
            `
        } else {
          let html = ''
          for (const [key, value] of Object.entries(status)) {
            html += `
                <tr class="notes StatusRow">
                    <td><span class="title">${key}</span></td>
                    <td><span class="title">:</span></td>
                    <td><span class="added">${value.added} added</span></td>
                    <td><span class="error">${value.error} error</span></td>
                    <td><span class="skipped">${value.skipped} skipped</span></td>
                </tr>
            `
          }
          return '<table>' + html + '</table>'
        }
      }

      function initResumeButton() {
        $('#ResumeButton').click(function () {
          let upload_session_uuid = '{{ upload_session.token }}';
          let url = '/groundwater/upload-session/' + upload_session_uuid + '/';
          $(this).attr("disabled", true);
          let data = new FormData();
          (
            async () => {
              data.append('csrfmiddlewaretoken', $('input[name="csrfmiddlewaretoken"]').attr('value'));
              await fetch(url, {
                method: "POST",
                body: data,
              });
              $(this).removeAttr("disabled");
            }
          )()
        })
      }

      $(document).ready(function () {
        {# render past upload #}
        const $pastUpload = $('#pass-upload');
        initResumeButton()
        $.each(past_upload, function (index, value) {
          {# if there is error, show red border#}
          let color = '#ca3232'
          let status = value.status
          try {
            status = JSON.parse(value.status)
            if (!status.error) {
              color = '#48b14f'
            }
            status = returnStatusHtml(status)
          } catch (e) {

          }
          $pastUpload.append(`
                 <div class="well well-sm past-upload ${value.category}" style="border: 1px solid ${color}" data-id="${value.id}" data-report="${value.report_filename}">
                    <div class="container-fluid row" style="padding-top: 10px;">
                        <div class="col-xs-2">
                            <p>Uploader</p>
                            <p>Filename</p>
                            <p>Organisation</p>
                            <p>Uploaded at</p>
                            <p></p>
                        </div>
                        <div class="col-xs-10">
                            <p>: ${value.category === 'well_upload' ? 'General Information' : value.category === 'well_monitoring_upload' ? 'Monitoring Data' : 'Drilling and Construction'}</p>
                            <p>: ${value.filename}</p>
                            <p>: ${value.organisation}</p>
                            <p>: ${new Date(value.uploaded_at)}</p>
                            <p class="notes">${status}</p>
                        </div>
                    </div>
                </div>`)
        });
        $('.well').click(function () {
          window.open($(this).data('report'), '_blank')
        })

        {# update the form #}
        $('#myTab a[href="#well-descriptor"]').tab('show')

        {# when tab clicked, show/hide the pas upload#}
        $('#myTab a').click(function () {
          $('.past-upload').hide();
          let $el = null
          if ($(this).attr('href') === '#well-descriptor') {
            $('#permission').show();
            $el = $('.well_upload');
          } else if ($(this).attr('href') === '#well-monitoring') {
            $('#permission').hide();
            $el = $('.well_monitoring_upload')
          } else {
            $('#permission').hide();
            $el = $('.well_drilling_and_construction')
          }
          $el.show();
          if ($el.length === 0) {
            $('#past-upload-sessions').hide()
          } else {
            $('#past-upload-sessions').show()
          }
        });
        $('#myTab a[href="#well-descriptor"]').click()

        let uploadProgress = 0;
        {% if upload_session %}
          let upload_session_uuid = '{{ upload_session.token }}';
          let url = '/groundwater/upload-session/' + upload_session_uuid;
          const fetchData = () => {
            $.ajax({
              url: url,
              type: "GET",
              success: function (data) {
                uploadProgress = data.progress
                $('#upload-progress').css('width', uploadProgress + '%');
                $('#upload-progress-text').html(
                  `<div>${uploadProgress.toFixed(1)}% - ${data.step}</div>`
                );
                const disabled = $('#ResumeButton').attr('disabled')
                $('#upload-progress-task-status').html(': ' + data.task_status);
                if (data.task_status === 'STOP') {
                  $('#upload-progress-task-status').append(' <button id="ResumeButton">Resume</button>')
                }
                $('#ResumeButton').attr("disabled", disabled);
                initResumeButton()
                if (data.status) {
                  let status = data.status
                  try {
                    status = returnStatusHtml(JSON.parse(status))
                  } catch (e) {

                  }
                  $('#upload-progress-status').html(status);
                }
                if (data.task_status !== 'DONE') {
                  setTimeout(function () {
                    fetchData()
                  }, 2000);
                } else {
                  window.open(data.report_filename);
                }
              },
              error: function (xhr, ajaxOptions, thrownError) {
                setTimeout(function () {
                  fetchData()
                }, 2000);
              }
            });
          }
          fetchData()
        {% endif %}
      })
    </script>
{% endblock %}
