{% extends "base.html" %}
{% load staticfiles %}

{% block page_title %}
    <h1>Upload Excel File For Well Data.</h1>
{% endblock page_title %}

{% block body %}
    <style>
        .page-header {
            font-size: 17pt;
        }

        .form-group p {
            border: 1px solid lightgrey;
            padding: 15px;
            margin-top: 20px;
        }

        .form-group p:hover {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.10);
        }
    </style>

    <div class="container">
        <div class="page-header">
            <h2>Upload Well Excel File.</h2>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <form action="" method="post" name="file" enctype="multipart/form-data" class="form-horizontal">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="col-md-8">
                            {{ form.as_p }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="margin-top: 20px">
                            <a href="{% url "well_upload_view" %}" class="btn btn-danger pull-left" onClick="$(form)[0].reset();" style="margin-right: 10px">Clear </a>
                            <button class="btn btn-primary pull-left"><span class="glyphicon glyphicon-upload" style="margin-right:5px;" type="file"></span>Upload</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% if task_id %}
        <div class="container" style="margin-top: 25px">
            <h2>Upload progress {{ task_id }}</h2>
            <div class="progress">
                <div id="upload-progress" class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                    0%
                </div>
            </div>
        </div>
    {% endif %}

    <script src="{% static "lib/js/jquery.js" %}"></script>
    <script>
        $(document).ready(function () {
            let uploadProgress = 0;
            {% if task_id %}
                let task_id = '{{ task_id }}';
                let progressInterval = setInterval(function () {
                    $.ajax({
                        url: '{% url "progress_upload" %}?task_id=' + task_id,
                        type: "GET",
                        success: function (data) {
                            uploadProgress = data.process_percent

                            $('#upload-progress').css('width', uploadProgress + '%').html(
                                uploadProgress.toFixed(1) + '%'
                            );
                            if (uploadProgress >= 100) {
                                clearInterval(progressInterval);
                            }
                        }
                    });
                }, 200)
            {% endif %}
        })
    </script>
{% endblock %}
