{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block page_title %}
    <h1>Organisation form.</h1>
{% endblock page_title %}

{% block extra_head %}
    <style>
        .col-md-8 {
            width: 100% !important;
        }

        .empty-row {
            font-style: italic;
            text-align: center;
            color: gray;
        }
        .group-name {
            display: inline-block;
            background-color: #EEE;
            padding: 3px 6px;
            white-space: nowrap;
            margin-bottom: 1px;
            margin-top: 1px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="page-header">
        <h2>{% trans "Organisation" %}</h2>
    </div>
    <div class="tab-content" id="search-content">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Description" %}</th>
                <th>{% trans "Groups" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for object in object_list %}
                <tr>
                    <td><a href="{% url 'organisation_form' object.id %}">{{ object.name }}</a></td>
                    <td>{{ object.description }}</td>
                    <td>{% for group in object.group_names %}<span class="group-name">{{ group }}</span>{% endfor %}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2" class="empty-row">{% trans "Organisation is empty" %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block extra_script %}

{% endblock extra_script %}