{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_tags %}
{% load igrac_bootstrap_tags %}

{% block page_title %}
    <h1>Download Form.</h1>
{% endblock page_title %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/form-select2.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/widgets.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="{% static 'js/select2/4.1.0-rc.0/select2.min.css' %}"
          type="text/css" media="screen, projection"/>
    <script type="text/javascript"
            src="{% static 'js/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <style>
        .form-group {
            margin-bottom: 25px;
        }

        form .row {
            margin: 0;
        }

        form .row {
            display: flex;
        }

        form .col {
            width: 100%;
            padding: 0 5px;
        }

        form .row .col:first-child {
            padding-left: 0;
        }

        form .row .col:last-child {
            padding-right: 0;
        }

        .helptext {
            margin: 0 0 20px 0;
        }

        #id_organization_types .select2-container input {
            min-width: 411px !important;
        }

        #id_countries .select2-container input {
            min-width: 138px !important;
        }

        .form-actions button {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h1>Data Request</h1>
    </div>
    <div class="row">
        <form method="post" autocomplete="off">
            <fieldset>
                {% csrf_token %}
                <div class="helptext">
                    In order to download the data, please indicate which for
                    countries you request the data,
                    and identify yourself unless you are already signed in.
                    This information helps GGIS administrator and data
                    providers
                    with providing adequate data and services.
                </div>
                {{ form.countries|field_as_bootstrap }}
                {{ form.data_type|field_as_bootstrap }}
                {{ form.email|field_as_bootstrap }}
                <div class="group">
                    <div class="row">
                        <div class="col">
                            {{ form.first_name|field_as_bootstrap }}
                        </div>
                        <div class="col">
                            {{ form.last_name|field_as_bootstrap }}
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col">
                            {{ form.organization|field_as_bootstrap }}
                        </div>
                        <div class="col">
                            {{ form.organization_types|field_as_bootstrap }}
                        </div>
                    </div>
                </div>
                {{ form.country|field_as_bootstrap }}
                <div class="helptext">
                    Open license apply to some of data, in which case they are
                    specified in the download file.
                </div>
                <div class="form-actions">
                    <button type="submit"
                            class="btn btn-primary">
                        {% trans "Request" %}
                    </button>
                </div>
                <br>
                <br>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
      $(document).ready(function () {
        {
          const placeholder = "Select countries.";
          $('#id_countries select').select2({
            placeholder: placeholder
          }).on('select2:open', function (e) {
            $('#id_countries  input.select2-search__field').prop('placeholder', placeholder);
          });
        }
        {
          const placeholder = "Select an organization type or more or create by typing new one.";
          console.log($('#id_organization_types select').val())
          $('#id_organization_types select').select2({
            placeholder: placeholder,
            tags: true,
            createTag: function (params) {
              return {
                id: params.term,
                text: params.term,
                newOption: true
              }
            },
            templateResult: function (data) {
              var $result = $("<span></span>");
              $result.text(data.text);
              if (data.newOption) {
                $result.append(" <em>(new)</em>");
              }
              return $result;
            }
          }).on('select2:open', function (e) {
            $('#id_organization_types input.select2-search__field').prop('placeholder', placeholder);
          });
        }
      });
    </script>
{% endblock %}