{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load bootstrap_tags %}
{% load igrac_bootstrap_tags %}

{% block page_title %}
    <h1>Download Form.</h1>
{% endblock page_title %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/form-select2.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/widgets.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="{% static 'js/select2/4.1.0-rc.0/select2.min.css' %}"
          type="text/css" media="screen, projection"/>
    <script type="text/javascript"
            src="{% static 'js/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <style>
      .form-group {
        margin-bottom: 25px;
      }

      form .row {
        margin: 0;
      }

      form .row {
        display: flex;
      }

      form .col {
        width: 100%;
        padding: 0 5px;
      }

      form .row .col:first-child {
        padding-left: 0;
      }

      form .row .col:last-child {
        padding-right: 0;
      }

      .helptext {
        margin: 0 0 20px 0;
      }

      #id_organization_types .select2-container input {
        min-width: 411px !important;
      }

      #id_countries .select2-container input {
        min-width: 138px !important;
      }

      .form-actions button {
        width: 100%;
      }

      #id_radio_filter_type {
        padding-left: 0;
      }

      #id_radio_filter_type label {
        font-weight: 400 !important;
      }

      form .error-msg ul.errorlist {
        padding-inline-start: 0;
      }

      .select2-results__options {
        margin-bottom: 0!important;
      }

      .select2-container {
        width: 100% !important;
      }

      .select-data-action {
        margin-top: -0.5rem;
        display: flex;
        justify-content: space-between;
      }
      .select-data-action div {
        padding: 3px 5px;
        background-color: #eee;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 5px;
      }
    </style>
{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h1>Data Download</h1>
    </div>
    <div class="row">
        <form method="post" autocomplete="off">
            <fieldset>
                {% csrf_token %}
                <div class="helptext">
                    In order to download the data, please indicate for which
                    data providers or countries you request the data,
                    and identify yourself.
                    This information helps GGIS administrator and data
                    providers
                    with providing adequate data and services.
                </div>
                {{ form.data_type|field_as_bootstrap }}
                {{ form.radio_filter_type|field_as_bootstrap }}
                {{ form.countries|field_as_bootstrap }}
                {{ form.organisations|field_as_bootstrap }}
                <div class="select-data-action">
                    <div id="select-all">Select all</div>
                    <div id="clear-all">Clear all</div>
                </div>
                <br/>
                {{ form.email|field_as_bootstrap }}
                <div class="group">
                    <div class="row">
                        <div class="col">
                            {{ form.first_name|field_as_bootstrap }}
                        </div>
                        <div class="col">
                            {{ form.last_name|field_as_bootstrap }}
                        </div>
                    </div>
                </div>
                <div class="group">
                    <div class="row">
                        <div class="col">
                            {{ form.organization|field_as_bootstrap }}
                        </div>
                        <div class="col">
                            {{ form.organization_types|field_as_bootstrap }}
                        </div>
                    </div>
                </div>
                {{ form.country|field_as_bootstrap }}
                <div class="helptext">
                    Open license apply to some of data, in which case they are
                    specified in the download file.
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">
                        {% trans "Download" %}
                    </button>
                </div>
                <br>
                <br>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
      let lastRequest = {};
      function updateSelect(id, url, dataType, placeholder, key) {
        {# Options #}
        {# Initiate select on fetch #}
        const $select = $(`#${id} select`)
        $select.select2('destroy');
        $select.select2({
            placeholder: 'Loading...'
        });
        $select.empty();

        {# Request #}
        const currentRequest = new Date().getTime();
        lastRequest[key] = currentRequest;
        fetch(`${url}?data_type=${dataType}`)
          .then(response => response.json())
          .then(data => {
            if(currentRequest !== lastRequest[key]) return;

            {# Render #}
            const $select = $(`#${id} select`)
            $select.select2('destroy');
            $select.select2({
                placeholder: placeholder
            });
            $select.empty();
            data.forEach(function (item) {
              $select.append(new Option(item.label, item.id));
            });

          })
          .catch(error => console.error('Error:', error));

      }

      $(document).ready(function () {

        {# Select countries and data providers #}
        const countryPlaceholder = "Select countries.";
        const organisationPlaceholder = "Select data providers.";
        {
          $('#id_countries select').select2({
            placeholder: countryPlaceholder
          })
        }
        {
          $('#id_organisations select').select2({
            placeholder: organisationPlaceholder
          })
        }

        {# When the filter by is changed #}
        {
          function radioFilterTypeOnChange(value) {
            if (value === 'countries') {
              $('#id_organisations').hide();
              $('#id_countries').show();
            } else if (value === 'data_providers') {
              $('#id_organisations').show();
              $('#id_countries').hide();
            }
          }
        }
        {
            $('#id_data_type').change(function () {
              const value = $('#id_data_type option:selected').val();
              {# Options #}
              updateSelect('id_organisations', `/groundwater/api/organisation/autocomplete`, value, organisationPlaceholder, 'Data Providers')
              updateSelect('id_countries', `/groundwater/api/country/autocomplete`, value, countryPlaceholder, 'Countries')
            });
            $('#id_data_type').trigger('change');
        }
        {
          const placeholder = "Select an organization type or more or create by typing new one.";
          $('#id_organization_types select').select2({
            placeholder: placeholder,
            tags: true,
            createTag: function (params) {
              return {
                id: params.term,
                text: params.term,
                newOption: true
              }
            },
            templateResult: function (data) {
              var $result = $("<span></span>");
              $result.text(data.text);
              if (data.newOption) {
                $result.append(" <em>(new)</em>");
              }
              return $result;
            }
          }).on('select2:open', function (e) {
            $('#id_organization_types input.select2-search__field').prop('placeholder', placeholder);
          });
        }

        {# For radio filter #}
        {
          $('input[type=radio][name=radio_filter_type]').change(function () {
            radioFilterTypeOnChange(this.value)
          });
          // set initial
          var initial = $('input[type=radio][name=radio_filter_type]:checked').val();
          radioFilterTypeOnChange(initial);
        }

        $("#select-all").click(() => {
          ["#id_organisations", "#id_countries"].forEach(id => {
            if ($(id).is(':visible')) {
              let allValues = $(`${id} option`).map(function() {
                return $(this).val();
              }).get();
              $(`${id} select`).val(allValues).trigger('change');
            }
          })
        })

        $("#clear-all").click(() => {
          ["#id_organisations", "#id_countries"].forEach(id => {
            if ($(id).is(':visible')) {
              $(`${id} select`).val(null).trigger('change');
            }
          })
        })
      });
    </script>
{% endblock %}