{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap_tags %}
{% load igrac_bootstrap_tags %}

{% block page_title %}
    <h1>Download Form.</h1>
{% endblock page_title %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'admin/css/widgets.css' %}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet"
          href="{% static 'js/select2/4.1.0-rc.0/select2.min.css' %}"
          type="text/css" media="screen, projection"/>
    <script type="text/javascript"
            src="{% static 'js/select2/4.1.0-rc.0/select2.min.js' %}"></script>
    <style>
        .multiselect-native-select {
            display: block;
        }

        .multiselect-native-select .btn-group,
        .multiselect-native-select button {
            width: 100%;
        }

        .multiselect-all {
            padding: 0;
        }

        .multiselect-container .multiselect-all:hover,
        .multiselect-container .multiselect-all:focus,
        .multiselect-container .multiselect-all:active {
            background-color: white !important;
        }

        .multiselect-container a {
            background-color: white !important;
            color: black !important;
            font-weight: 700;
            padding: 3px 0 !important;
        }

        li.multiselect-all {
            border-bottom: 1px solid #ddd;
            padding: 3px 0 !important;
        }

        li.multiselect-all.active {
            background-color: white !important;
        }

        .multiselect-container .active label {
            font-weight: 700;
        }

        .helptext {
            margin: 40px 0 20px 0;
        }

        .select2-container .select2-selection--multiple .select2-selection__rendered {
            display: flex;
            padding: 5px;
            flex-wrap: wrap;
        }

        .select2-container input {
            margin-top: 8px !important;
        }

        #id_organisation_types .select2-container input {
            min-width: 411px !important;
        }

        #id_countries .select2-container input {
            min-width: 138px !important;
        }

        .select2-container li {
            display: block !important;
            float: unset !important;
        }

        .select2-selection__choice {
            padding: 2px 10px 0 25px !important;
            overflow: unset !important;
        }

        .select2-selection__choice__remove {
            padding-top: 2px !important;
        }

        .form-actions button {
            width: 100%;
        }
    </style>
{% endblock %}

{% block body_outer %}
    <div class="page-header">
        <h1>Request Download Well Data</h1>
    </div>
    <div class="row">
        <form method="post" autocomplete="off">
            <fieldset>
                {% csrf_token %}
                {{ form.countries|field_as_bootstrap }}
                <div class="helptext">
                    Before downloading the data, please identify yourself.
                    This helps GGIS administrators and data providers in
                    providing adequate data and services.
                </div>
                {{ form.name|field_as_bootstrap }}
                {{ form.surname|field_as_bootstrap }}
                {{ form.organisation|field_as_bootstrap }}
                {{ form.organisation_types|field_as_bootstrap }}
                {{ form.position|field_as_bootstrap }}
                {{ form.email|field_as_bootstrap }}
                <div class="helptext">
                    Open license apply to some of data, in which case they are
                    specified in the download file.
                </div>
                <div class="form-actions">
                    <button type="submit"
                            class="btn btn-primary">
                        {% trans "Request" %}
                    </button>
                </div>
                <br>
                <br>
            </fieldset>
        </form>
    </div>
{% endblock %}

{% block extra_script %}
    <script>
      $(document).ready(function () {
        {
          const placeholder = "Select countries.";
          $('#id_countries select').select2({
            placeholder: placeholder
          }).on('select2:open', function (e) {
            $('#id_countries  input.select2-search__field').prop('placeholder', placeholder);
          });
        }
        {
          const placeholder = "Select an organisation type or create by typing new one.";
          $('#id_organisation_types select').select2({
            placeholder: placeholder,
            tags: true,
            createTag: function (params) {
              return {
                id: params.term,
                text: params.term,
                newOption: true
              }
            },
            templateResult: function (data) {
              var $result = $("<span></span>");
              $result.text(data.text);
              if (data.newOption) {
                $result.append(" <em>(new)</em>");
              }
              return $result;
            }
          }).on('select2:open', function (e) {
            $('#id_organisation_types input.select2-search__field').prop('placeholder', placeholder);
          });
        }
      });
    </script>
{% endblock %}